# Récupération des datasets annexes
Afin de pouvoir effectuer les différentes analyses que nous avons prévues; nous allons avoir besoin de récupérer des données provenant de sources supplémentaires. 
Ainsi, nous allons télécharger les datasets supplémentaires dans `./data/additionnal/` en utilisant ce notebook. 

Nous nous occuperons également de nettoyer les données, afin d'utiliser uniquement ce dont nous avons besoin.

## Pays organisateurs des JO, de leur création à 2028
Après quelques recherches sur internet, nous avons constaté que ce dataset existait déjà sur Kaggle. Nous avons fait le choix de le récupérer, au lieu d'aller récupérer les données par nous-même au moyen du webscrapping. Nous avons préféré adopter cette stratégie au regard du temps restant. 

Lien du dataset : https://www.kaggle.com/datasets/piterfm/olympic-games-hosts 

Le dataset n'étant disponible qu'au téléchargement direct après connexion à la plateforme, nous l'avons directement ajouté dans le répertoire sus-mentionné.

### Nettoyage

In [1]:
# Dépendances
import pandas as pd

In [3]:
# Chargement des données dans un dataframe pandas 
df_hosting_countries = pd.read_csv('data/additionnal/olympic_hosts.csv')

In [4]:
df_hosting_countries.head()

,Type,GamesUrl,Disciplines,DisciplinesList,Country,Date,Athletes,Countries,Events,City,Year
0,summergames,https://www.olympic.org/athens-1896,10,"['Athletics', 'Cycling Road', 'Cycling Track',...",Greece,06 Apr - 15 Apr,241.0,14.0,43.0,Athens,1896
1,summergames,https://www.olympic.org/paris-1900,20,"['Archery', 'Athletics', 'Basque Pelota', 'Cri...",France,14 May - 28 Oct,997.0,24.0,95.0,Paris,1900
2,summergames,https://www.olympic.org/st-louis-1904,19,"['Archery', 'Athletics', 'Basketball', 'Boxing...",United States of America,01 Jul - 23 Nov,651.0,12.0,95.0,St Louis,1904
3,summergames,https://www.olympic.org/london-1908,25,"['Archery', 'Athletics', 'Boxing', 'Cycling Tr...",Great Britain,27 Apr - 31 Oct,2008.0,22.0,110.0,London,1908
4,summergames,https://www.olympic.org/stockholm-1912,18,"['Athletics', 'Cycling Road', 'Diving', 'Eques...",Sweden,05 May - 27 Jul,2407.0,28.0,102.0,Stockholm,1912

In [9]:
# Dans la mesure où nous n'avons besoin que des données extraites depuis 2000, jusqu'à 2022, nous allons les filtrer. 
df_hosting_countries_filtered = df_hosting_countries[(df_hosting_countries['Year'] >= 2000) & (df_hosting_countries['Year'] <= 2024)]

In [11]:
# Nous allons exclure les youthgames
df_hosting_countries_filtered = df_hosting_countries_filtered[df_hosting_countries_filtered['Type'] != 'youthgames']

In [13]:
# Et retirer les colonnes dont nous n'avons pas besoin (GamesUrl, Disicipines, DisciplinesList, Athletes, Countries, Events, Date)
df_hosting_countries_filtered.drop(columns=['GamesUrl', 'Disciplines', 'DisciplinesList', 'Athletes', 'Countries', 'Events', 'Date'], inplace=True)

/var/folders/38/1vcxjcxx0z75mdh8whh4pw6r0000gn/T/ipykernel_19452/109912920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosting_countries_filtered.drop(columns=['GamesUrl', 'Disciplines', 'DisciplinesList', 'Athletes', 'Countries', 'Events', 'Date'], inplace=True)

In [15]:
# Désormais, export du dataframe filtré dans un fichier CSV
df_hosting_countries_filtered.to_csv('data/additionnal/olympic_hosts_filtered.csv', index=False)