# Récupération des datasets annexes
Afin de pouvoir effectuer les différentes analyses que nous avons prévues; nous allons avoir besoin de récupérer des données provenant de sources supplémentaires. 
Ainsi, nous allons télécharger les datasets supplémentaires dans `./data/additionnal/` en utilisant ce notebook. 

Nous nous occuperons également de nettoyer les données, afin d'utiliser uniquement ce dont nous avons besoin.

## Pays organisateurs des JO, de leur création à 2028
Après quelques recherches sur internet, nous avons constaté que ce dataset existait déjà sur Kaggle. Nous avons fait le choix de le récupérer, au lieu d'aller récupérer les données par nous-même au moyen du webscrapping. Nous avons préféré adopter cette stratégie au regard du temps restant. 

Lien du dataset : https://www.kaggle.com/datasets/piterfm/olympic-games-hosts 

Le dataset n'étant disponible qu'au téléchargement direct après connexion à la plateforme, nous l'avons directement ajouté dans le répertoire sus-mentionné.

In [1]:
# Dépendances
import pandas as pd
import numpy as np
import datetime
from sklearn import impute

### Nettoyage

In [2]:
# Chargement des données dans un dataframe pandas 
df_hosting_countries = pd.read_csv('data/additionnal/olympic_hosts.csv')

In [3]:
df_hosting_countries.head()

,Type,GamesUrl,Disciplines,DisciplinesList,Country,Date,Athletes,Countries,Events,City,Year
0,summergames,https://www.olympic.org/athens-1896,10,"['Athletics', 'Cycling Road', 'Cycling Track',...",Greece,06 Apr - 15 Apr,241.0,14.0,43.0,Athens,1896
1,summergames,https://www.olympic.org/paris-1900,20,"['Archery', 'Athletics', 'Basque Pelota', 'Cri...",France,14 May - 28 Oct,997.0,24.0,95.0,Paris,1900
2,summergames,https://www.olympic.org/st-louis-1904,19,"['Archery', 'Athletics', 'Basketball', 'Boxing...",United States of America,01 Jul - 23 Nov,651.0,12.0,95.0,St Louis,1904
3,summergames,https://www.olympic.org/london-1908,25,"['Archery', 'Athletics', 'Boxing', 'Cycling Tr...",Great Britain,27 Apr - 31 Oct,2008.0,22.0,110.0,London,1908
4,summergames,https://www.olympic.org/stockholm-1912,18,"['Athletics', 'Cycling Road', 'Diving', 'Eques...",Sweden,05 May - 27 Jul,2407.0,28.0,102.0,Stockholm,1912

In [4]:
# Nous allons exclure les youthgames
df_hosting_countries_filtered = df_hosting_countries[df_hosting_countries['Type'] != 'youthgames']

In [5]:
# Et retirer les colonnes dont nous n'avons pas besoin (GamesUrl, Disicipines, DisciplinesList, Athletes, Countries, Events, Date)
df_hosting_countries_filtered.drop(columns=['GamesUrl', 'Disciplines', 'DisciplinesList', 'Athletes', 'Countries', 'Events', 'Date'], inplace=True)

/var/folders/38/1vcxjcxx0z75mdh8whh4pw6r0000gn/T/ipykernel_42758/109912920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hosting_countries_filtered.drop(columns=['GamesUrl', 'Disciplines', 'DisciplinesList', 'Athletes', 'Countries', 'Events', 'Date'], inplace=True)

In [6]:
# Désormais, export du dataframe filtré dans un fichier CSV
df_hosting_countries_filtered.to_csv('data/additionnal/olympic_hosts_filtered.csv', index=False)

## Informations supplémentaires sur les jeux manquants dans le dataframe fourni.

In [7]:
df_test = pd.read_csv('./data/athlete_events_old.csv')
df_test['Year'].max()

# Il manque donc les données à partir des jeux de 2018

2016

## Récupération des données manquantes

### Chargement et exploration des données récupérées

Pour les jeux de 2020 (été, Tokyo), nous avons trouvé le dataset suivant : https://www.kaggle.com/datasets/piterfm/tokyo-2020-olympics. Après téléchargement des différents datasets, nous le plaçons dans `./data/additionnal/tokyo2020`

In [8]:
df_tokyo_athletes = pd.read_csv('data/additionnal/tokyo2020/athletes.csv')
df_tokyo_coaches = pd.read_csv('data/additionnal/tokyo2020/coaches.csv')
df_tokyo_medals_total = pd.read_csv('data/additionnal/tokyo2020/medals_total.csv')
df_tokyo_medals = pd.read_csv('data/additionnal/tokyo2020/medals.csv')
df_tokyo_technical_officials = pd.read_csv('data/additionnal/tokyo2020/technical_officials.csv')

In [9]:
# athletes.csv
df_tokyo_athletes.head()
# Table de correspondance: 
# Name = name
# Sex = gender
# Age = birthdate - current year (2021)
# Height = height_m (prendre avant le /)
# Team = country
# NOC = country_code
# Games = Tokyo 2020
# Year = 2020
# Season = Summer
# City = Tokyo
# Sport = discipline (créer une table de correspondance?)
# Event = N/A
# Medal = N/A

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,NaN,NaN,NaN,../../../en/results/cycling-road/athlete-profi...
1,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,MADRID,Spain,1.65/5'4'',../../../en/results/artistic-gymnastics/athlet...
2,ABAGNALE Giovanni,ABAGNALE G,Male,1995-01-11,GRAGNANO,Italy,Italy,ITA,Rowing,ROW,SABAUDIA,Italy,1.98/6'5'',../../../en/results/rowing/athlete-profile-n13...
3,ABALDE Alberto,ABALDE A,Male,1995-12-15,FERROL,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,2.00/6'6'',../../../en/results/basketball/athlete-profile...
4,ABALDE Tamara,ABALDE T,Female,1989-02-06,VIGO,Spain,Spain,ESP,Basketball,BKB,NaN,NaN,1.92/6'3'',../../../en/results/basketball/athlete-profile...

In [10]:
# coaches.csv
df_tokyo_coaches.head()
# Ce dataframe ne nous servira pas
del df_tokyo_coaches

In [11]:
# medals_total.csv
df_tokyo_medals_total.head()
# Ce daraframe ne nous servira pas
del df_tokyo_medals_total

In [12]:
# medals.csv
df_tokyo_medals.head()
# Medal = medal_type (retirer "Medal")
# Event = event (à voir)
# Left join avec athletes sur athlete_name

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code,discipline_code,event,country,discipline
0,Gold Medal,1,2021-07-24 00:00:00.0,KIM JD,KIM Je Deok,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
1,Gold Medal,1,2021-07-24 00:00:00.0,AN S,AN San,X,../../../en/results/archery/athlete-profile-n1...,KOR,ARC,Mixed Team,Republic of Korea,Archery
2,Silver Medal,2,2021-07-24 00:00:00.0,SCHLOESSER G,SCHLOESSER Gabriela,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
3,Silver Medal,2,2021-07-24 00:00:00.0,WIJLER S,WIJLER Steve,X,../../../en/results/archery/athlete-profile-n1...,NED,ARC,Mixed Team,Netherlands,Archery
4,Bronze Medal,3,2021-07-24 00:00:00.0,ALVAREZ L,ALVAREZ Luis,X,../../../en/results/archery/athlete-profile-n1...,MEX,ARC,Mixed Team,Mexico,Archery

### Jointure des données en suivant la table de correspondance (TODO: faire une table en markdown)

In [13]:
# Création d'un dataframe avec les même colonnes que df_test
df_complete_tokyo2020 = pd.DataFrame(columns=df_test.columns)

# On s'assure qu'il n'y a pas de doublons
df_tokyo_athletes.drop_duplicates(inplace=True)

In [14]:
df_merged_bis = pd.merge(df_tokyo_athletes, df_tokyo_medals, how='left', left_on=['name', 'discipline_code'], right_on=['athlete_name', 'discipline_code'])
df_merged_bis

,name,short_name,gender,birth_date,birth_place,birth_country,country_x,country_code_x,discipline_x,discipline_code,...,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,country_code_y,event,country_y,discipline_y
0,AALERUD Katrine,AALERUD K,Female,1994-12-04,VESTBY,Norway,Norway,NOR,Cycling Road,CRD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABAD Nestor,ABAD N,Male,1993-03-29,ALCOI,Spain,Spain,ESP,Artistic Gymnastics,GAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABAGNALE Giovanni,ABAGNALE G,Male,1995-01-11,GRAGNANO,Italy,Italy,ITA,Rowing,ROW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABALDE Alberto,ABALDE A,Male,1995-12-15,FERROL,Spain,Spain,ESP,Basketball,BKB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABALDE Tamara,ABALDE T,Female,1989-02-06,VIGO,Spain,Spain,ESP,Basketball,BKB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11876,ZWICKER Martin Detlef,ZWICKER MD,Male,1987-02-27,KOTHEN,Germany,Germany,GER,Hockey,HOC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11877,ZWOLINSKA Klaudia,ZWOLINSKA K,Female,1998-12-18,NaN,NaN,Poland,POL,Canoe Slalom,CSL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11878,ZYKOVA Yulia,ZYKOVA Y,Female,1995-11-25,KRASNOYARSK,Russian Federation,ROC,ROC,Shooting,SHO,...,2.0,2021-07-31 00:00:00.0,ZYKOVA Y,ZYKOVA Yulia,W,../../../en/results/shooting/athlete-profile-n...,ROC,50m Rifle 3 Positions Women,ROC,Shooting
11879,ZYUZINA Ekaterina,ZYUZINA E,Female,1996-12-08,LIPETSK,Russian Federation,ROC,ROC,Sailing,SAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11880,ZYZANSKA Sylwia,ZYZANSKA S,Female,1997-07-27,NaN,NaN,Poland,POL,Archery,ARC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Etant donné qu'un athlète peut avoir plusieurs médailles, et qu'on observe de nombreux champs vides, nous récupérons les médailles de chaque athlète dont l'attribut discipline 
# est absent. Puis, nous effectuerons une jointure simple, seulement avec le nom de l'athlète, pour récupérer les médailles obtenues par ces derniers.
missing_disciplines = df_tokyo_athletes[df_tokyo_athletes['discipline'].isna()]['name'].to_list()
missing_discipines_with_medals = df_tokyo_medals[df_tokyo_medals['athlete_name'].isin(missing_disciplines)]

In [16]:
athletes_to_be_added = []
# Itération dans df_tokyo_athletes pour ajouter dans athletes_to_be_added, qui sera ensuite ajouté au dataframe df_complete_tokyo2020

for index, row in df_tokyo_athletes.iterrows():
    athlete_name = row['name']
    athlete_sex = str(row['gender'])[0] if type(row['gender'] != float) else np.nan
    athlete_age = (2021 - datetime.date.fromisoformat(str(row['birth_date'])).year) if (type(row['birth_date'] == str) and str(row['birth_date']).lower() != 'nan' ) else np.nan
    athlete_height_in_m = (int(float(row['height_m/ft'].split('/')[0]) *100)) if (type(row['height_m/ft']) != float) else np.nan
    athlete_team = row['country']
    athlete_noc = row['country_code']
    athlete_games = 'Tokyo 2020'
    athlete_year = 2020
    athlete_season = 'Summer'
    athlete_city = 'Tokyo'
    athlete_discipline = row['discipline']
    athletes_to_be_added.append({
        'Name': athlete_name,
        'Sex': athlete_sex, 
        'Age': athlete_age,
        'Height': athlete_height_in_m,
        'Team': athlete_team,
        'NOC': athlete_noc,
        'Games': athlete_games,
        'Year': athlete_year,
        'Season': athlete_season,
        'City': athlete_city,
        'Sport': athlete_discipline,
    })

df_complete_tokyo2020 = df_complete_tokyo2020.from_records(athletes_to_be_added)

In [17]:
df_complete_tokyo2020

,Name,Sex,Age,Height,Team,NOC,Games,Year,Season,City,Sport
0,AALERUD Katrine,F,27.0,NaN,Norway,NOR,Tokyo 2020,2020,Summer,Tokyo,Cycling Road
1,ABAD Nestor,M,28.0,165.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics
2,ABAGNALE Giovanni,M,26.0,198.0,Italy,ITA,Tokyo 2020,2020,Summer,Tokyo,Rowing
3,ABALDE Alberto,M,26.0,200.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball
4,ABALDE Tamara,F,32.0,192.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball
...,...,...,...,...,...,...,...,...,...,...,...
11651,ZWICKER Martin Detlef,M,34.0,176.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Hockey
11652,ZWOLINSKA Klaudia,F,23.0,NaN,Poland,POL,Tokyo 2020,2020,Summer,Tokyo,Canoe Slalom
11653,ZYKOVA Yulia,F,26.0,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,Shooting
11654,ZYUZINA Ekaterina,F,25.0,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,Sailing
11655,ZYZANSKA Sylwia,F,24.0,NaN,Poland,POL,Tokyo 2020,2020,Summer,Tokyo,Archery

In [18]:
# On effectue une jointure droite entre les deux dataframes, de manière à conserver seulement les athlètes avec différentes médailles dans différentes disciplines
df_merged = pd.merge(df_complete_tokyo2020, df_tokyo_medals, left_on=['Name', 'Sport'], right_on=['athlete_name', 'discipline'], how='inner')
df_merged.drop(columns=['medal_code', 'medal_date', 'athlete_short_name',
       'athlete_name', 'athlete_sex', 'athlete_link', 'country_code',
       'discipline_code', 'country', 'discipline'], inplace=True)

df_merged.drop_duplicates(inplace=True)

df_merged['medal_type'] = df_merged['medal_type'].apply(lambda x: x.replace('Medal', '').strip() if type(x) != float else x)
df_merged.rename(columns={'medal_type': 'Medal', 'event': 'Event'}, inplace=True)

In [19]:
# On récupère le nom des médaillés seulement, pour les retirer du dataframe final (qui ne contient pas encore les médailles obtenues par les athlètes), avant de fusionner
# le dataframe des médaillés seulement et celui des athlètes sans médailles
medailles_seulement = df_merged.Name.unique()
df_complete_tokyo2020.drop(df_complete_tokyo2020[df_complete_tokyo2020['Name'].isin(medailles_seulement)].index, inplace=True)
df_complete_tokyo2020 = pd.concat([df_complete_tokyo2020, df_merged])
df_complete_tokyo2020

,Name,Sex,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Medal,Event
0,AALERUD Katrine,F,27.0,NaN,Norway,NOR,Tokyo 2020,2020,Summer,Tokyo,Cycling Road,NaN,NaN
1,ABAD Nestor,M,28.0,165.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,NaN,NaN
2,ABAGNALE Giovanni,M,26.0,198.0,Italy,ITA,Tokyo 2020,2020,Summer,Tokyo,Rowing,NaN,NaN
3,ABALDE Alberto,M,26.0,200.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball,NaN,NaN
4,ABALDE Tamara,F,32.0,192.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,ZOU Jingyuan,M,23.0,158.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Gold,Men's Parallel Bars
2378,ZUBIMENDI Martin,M,22.0,180.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Silver,Men
2379,ZUEV Alexander,M,25.0,193.0,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,3x3 Basketball,Silver,Men
2380,ZVEREV Alexander,M,24.0,198.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Gold,Men's Singles
2381,ZYKOVA Yulia,F,26.0,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,Shooting,Silver,50m Rifle 3 Positions Women

In [20]:
# On remplace les valeurs 'n' en NaN pour le sexe
df_complete_tokyo2020['Sex'] = df_complete_tokyo2020['Sex'].apply(lambda x: np.NAN if x == 'n' else x)

In [21]:
df_complete_tokyo2020

,Name,Sex,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Medal,Event
0,AALERUD Katrine,F,27.0,NaN,Norway,NOR,Tokyo 2020,2020,Summer,Tokyo,Cycling Road,NaN,NaN
1,ABAD Nestor,M,28.0,165.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,NaN,NaN
2,ABAGNALE Giovanni,M,26.0,198.0,Italy,ITA,Tokyo 2020,2020,Summer,Tokyo,Rowing,NaN,NaN
3,ABALDE Alberto,M,26.0,200.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball,NaN,NaN
4,ABALDE Tamara,F,32.0,192.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Basketball,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2377,ZOU Jingyuan,M,23.0,158.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Gold,Men's Parallel Bars
2378,ZUBIMENDI Martin,M,22.0,180.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Silver,Men
2379,ZUEV Alexander,M,25.0,193.0,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,3x3 Basketball,Silver,Men
2380,ZVEREV Alexander,M,24.0,198.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Gold,Men's Singles
2381,ZYKOVA Yulia,F,26.0,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,Shooting,Silver,50m Rifle 3 Positions Women

Export propre du fichier en csv dans `./data/athlete_events_tokyo_cleaned.csv`

In [22]:
df_complete_tokyo2020.to_csv('./data/athlete_events_tokyo_cleaned.csv', index=False)

Commentaires sur le fichier de Tokyo : pour certains athlètes, on n'a pas le sexe. Compte tenu des restrictions temporelles, nous avons fait le choix de ne pas les scrapper.

## Ajout des pays organisateurs des JO au dataframe

Fusion avec l'autre fichier `./data/athlete_events_old.csv`

In [23]:
df_old = pd.read_csv('data/athlete_events_old.csv')
final_df = pd.concat([df_complete_tokyo2020, df_old])

Fonction qui retourne le pays organisateur des JO pour chaque ligne

In [24]:
def is_org_country(row):
    country = df_hosting_countries_filtered['Country'].where(df_hosting_countries_filtered['Year'] == row).dropna()
    if (len(country) < 1):
        return None
    else: 
        return country.values[0]

In [25]:
final_df['Country_org'] = final_df['Year'].apply(lambda x: is_org_country(x))

Export du dataframe traité

In [26]:
final_df.to_csv('data/athlete_events.csv', index=False)

## Récupération des données qui nous intéressent pour les pays

In [27]:
# On récupère les données qui nous intéressent à partir de 2000
since2000_data = final_df[final_df['Year'] > 1999]

In [59]:
# On replace NaN pour les absences de médailles. Déjà traité par Noé ? 
since2000_data['Medal']  = since2000_data['Medal'].apply(lambda x: 'NoMedal' if pd.isna(x) else x)

/var/folders/38/1vcxjcxx0z75mdh8whh4pw6r0000gn/T/ipykernel_42758/2465498224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  since2000_data['Medal']  = since2000_data['Medal'].apply(lambda x: 'NoMedal' if pd.isna(x) else x)

In [83]:
# On regroupe par année, event et équipe pour les médailles (sports d'équipe)
since20000_data_teams = pd.DataFrame(since2000_data.groupby(['Team', 'Year', 'Event', 'Medal']).mean(numeric_only=True))
since20000_data_teams.drop(columns=['ID'], inplace=True) # On supprime l'ID qui n'est pas utile ici

In [84]:
since20000_data_teams.index.get_level_values('Medal').unique()

Index(['NoMedal', 'Bronze', 'Silver', 'Gold'], dtype='object', name='Medal')

In [85]:
since20000_data_teams

                                                                    Age  \
Team        Year Event                                    Medal
Afghanistan 2004 Athletics Men's 100 metres               NoMedal  19.0
                 Athletics Women's 100 metres             NoMedal  18.0
                 Boxing Men's Welterweight                NoMedal  19.0
                 Judo Women's Middleweight                NoMedal  18.0
                 Wrestling Men's Featherweight, Freestyle NoMedal  19.0
...                                                                 ...
Zimbabwe    2016 Rowing Women's Single Sculls             NoMedal  29.0
                 Shooting Men's Double Trap               NoMedal  42.0
                 Swimming Men's 100 metres Freestyle      NoMedal  22.0
                 Swimming Women's 100 metres Backstroke   NoMedal  32.0
                 Swimming Women's 200 metres Backstroke   NoMedal  32.0

                                                                   Height  \
Team        Year Event                                    Medal
Afghanistan 2004 Athletics Men's 100 metres               NoMedal   168.0
                 Athletics Women's 100 metres             NoMedal   180.0
                 Boxing Men's Welterweight                NoMedal   170.0
                 Judo Women's Middleweight                NoMedal   165.0
                 Wrestling Men's Featherweight, Freestyle NoMedal     NaN
...                                                                   ...
Zimbabwe    2016 Rowing Women's Single Sculls             NoMedal   175.0
                 Shooting Men's Double Trap               NoMedal   182.0
                 Swimming Men's 100 metres Freestyle      NoMedal   181.0
                 Swimming Women's 100 metres Backstroke   NoMedal   176.0
                 Swimming Women's 200 metres Backstroke   NoMedal   176.0

                                                                   Weight
Team        Year Event                                    Medal
Afghanistan 2004 Athletics Men's 100 metres               NoMedal    64.0
                 Athletics Women's 100 metres             NoMedal    56.0
                 Boxing Men's Welterweight                NoMedal    69.0
                 Judo Women's Middleweight                NoMedal    70.0
                 Wrestling Men's Featherweight, Freestyle NoMedal     NaN
...                                                                   ...
Zimbabwe    2016 Rowing Women's Single Sculls             NoMedal    72.0
                 Shooting Men's Double Trap               NoMedal    80.0
                 Swimming Men's 100 metres Freestyle      NoMedal    84.0
                 Swimming Women's 100 metres Backstroke   NoMedal    64.0
                 Swimming Women's 200 metres Backstroke   NoMedal    64.0

[45457 rows x 3 columns]

In [72]:
# On créée un dataset propre sommant le nombre de médailles par pays/année
medals_per_country = pd.DataFrame(columns=since20000_data_teams.index.get_level_values('Year').sort_values().unique())
medals_per_country.index.name = "Country"

In [123]:
# On itère dans les équipes
for team in since20000_data_teams.index.get_level_values('Team').unique().sort_values():
    print(team)
    # On itère dans les années
    for year in since20000_data_teams.loc[team].index.get_level_values('Year').unique().sort_values():
        print(year)
        med = since20000_data_teams.loc[team, year].index.get_level_values('Medal').value_counts()
        print(med)
        # TODO: Ajout au dataframe

Afghanistan
2004
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    3
Bronze     1
Name: Medal, dtype: int64
2012
NoMedal    5
Bronze     1
Name: Medal, dtype: int64
2016
NoMedal    3
Name: Medal, dtype: int64
Albania
2000
NoMedal    5
Name: Medal, dtype: int64
2004
NoMedal    7
Name: Medal, dtype: int64
2006
NoMedal    3
Name: Medal, dtype: int64
2008
NoMedal    12
Name: Medal, dtype: int64
2010
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    9
Name: Medal, dtype: int64
2014
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    6
Name: Medal, dtype: int64
Algeria
2000
NoMedal    39
Bronze      3
Silver      1
Gold        1
Name: Medal, dtype: int64
2004
NoMedal    57
Name: Medal, dtype: int64
2006
NoMedal    3
Name: Medal, dtype: int64
2008
NoMedal    42
Silver      1
Bronze      1
Name: Medal, dtype: int64
2010
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    28
Gold        1
Name: Medal, dtype: int64
2016
NoMedal    48
Silver      2
Name: Medal, dtype: int64
American Samoa
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    3
Name: Medal, dtype: int64
2008
NoMedal    4
Name: Medal, dtype: int64
2012
NoMedal    4
Name: Medal, dtype: int64
2016
NoMedal    4
Name: Medal, dtype: int64
Andorra
2000
NoMedal    5
Name: Medal, dtype: int64
2002
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    6
Name: Medal, dtype: int64
2006
NoMedal    7
Name: Medal, dtype: int64
2008
NoMedal    5
Name: Medal, dtype: int64
2010
NoMedal    15
Name: Medal, dtype: int64
2012
NoMedal    6
Name: Medal, dtype: int64
2014
NoMedal    10
Name: Medal, dtype: int64
2016
NoMedal    4
Name: Medal, dtype: int64
Angola
2000
NoMedal    7
Name: Medal, dtype: int64
2004
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    8
Name: Medal, dtype: int64
2012
NoMedal    10
Name: Medal, dtype: int64
2016
NoMedal    10
Name: Medal, dtype: int64
Antigua and Barbuda
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    5
Name: Medal, dtype: int64
2012
NoMedal    4
Name: Medal, dtype: int64
2016
NoMedal    5
Name: Medal, dtype: int64
Argentina
2000
NoMedal    93
Silver      2
Bronze      2
Name: Medal, dtype: int64
2002
NoMedal    17
Name: Medal, dtype: int64
2004
NoMedal    79
Bronze      4
Gold        2
Name: Medal, dtype: int64
2006
NoMedal    13
Name: Medal, dtype: int64
2008
NoMedal    64
Bronze      4
Gold        2
Name: Medal, dtype: int64
2010
NoMedal    11
Name: Medal, dtype: int64
2012
NoMedal    63
Bronze      2
Silver      1
Gold        1
Name: Medal, dtype: int64
2014
NoMedal    10
Name: Medal, dtype: int64
2016
NoMedal    76
Gold        3
Silver      1
Name: Medal, dtype: int64
2020
Bronze    1
Silver    1
Name: Medal, dtype: int64
Argentina-1
2000
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    1
Name: Medal, dtype: int64
2016
NoMedal    1
Name: Medal, dtype: int64
Argentina-2
2000
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    1
Name: Medal, dtype: int64
2016
NoMedal    1
Name: Medal, dtype: int64
Armenia
2000
NoMedal    25
Bronze      1
Name: Medal, dtype: int64
2002
NoMedal    15
Name: Medal, dtype: int64
2004
NoMedal    19
Name: Medal, dtype: int64
2006
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    20
Bronze      6
Name: Medal, dtype: int64
2010
NoMedal    6
Name: Medal, dtype: int64
2012
NoMedal    27
Bronze      2
Silver      1
Name: Medal, dtype: int64
2014
NoMedal    5
Name: Medal, dtype: int64
2016
NoMedal    29
Silver      3
Gold        1
Name: Medal, dtype: int64
2020
Silver    2
Bronze    2
Name: Medal, dtype: int64
Aruba
2000
NoMedal    5
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    4
Name: Medal, dtype: int64
2016
NoMedal    6
Name: Medal, dtype: int64
Australia
2000
NoMedal    229
Silver      25
Bronze      17
Gold        15
Name: Medal, dtype: int64
2002
NoMedal    20
Gold        2
Name: Medal, dtype: int64
2004
NoMedal    188
Bronze      17
Gold        17
Silver      16
Name: Medal, dtype: int64
2006
NoMedal    31
Gold        1
Bronze      1
Name: Medal, dtype: int64
2008
NoMedal    190
Bronze      17
Silver      15
Gold        14
Name: Medal, dtype: int64
2010
NoMedal    31
Gold        2
Silver      1
Name: Medal, dtype: int64
2012
NoMedal    182
Silver      16
Bronze      12
Gold         7
Name: Medal, dtype: int64
2014
NoMedal    46
Silver      2
Bronze      1
Name: Medal, dtype: int64
2016
NoMedal    172
Silver      11
Bronze      10
Gold         8
Name: Medal, dtype: int64
2020
Bronze    21
Gold      16
Silver     7
Name: Medal, dtype: int64
Australia-1
2000
NoMedal    5
Gold       1
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2010
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Australia-2
2000
NoMedal    6
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2010
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Australia-3
2000
NoMedal    1
Name: Medal, dtype: int64
Austria
2000
NoMedal    65
Gold        2
Silver      1
Name: Medal, dtype: int64
2002
NoMedal    38
Bronze     10
Silver      4
Gold        3
Name: Medal, dtype: int64
2004
NoMedal    50
Silver      4
Gold        2
Bronze      1
Name: Medal, dtype: int64
2006
NoMedal    37
Gold        8
Bronze      7
Silver      7
Name: Medal, dtype: int64
2008
NoMedal    58
Bronze      2
Silver      1
Name: Medal, dtype: int64
2010
NoMedal    38
Bronze      6
Silver      6
Gold        3
Name: Medal, dtype: int64
2012
NoMedal    69
Name: Medal, dtype: int64
2014
NoMedal    66
Silver      7
Bronze      5
Gold        4
Name: Medal, dtype: int64
2016
NoMedal    59
Bronze      1
Name: Medal, dtype: int64
2020
Bronze    5
Silver    1
Gold      1
Name: Medal, dtype: int64
Austria-1
2002
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2006
NoMedal    1
Gold       1
Name: Medal, dtype: int64
2008
NoMedal    1
Name: Medal, dtype: int64
2010
NoMedal    1
Gold       1
Name: Medal, dtype: int64
2014
Silver    1
Name: Medal, dtype: int64
2016
NoMedal    1
Name: Medal, dtype: int64
Austria-2
2002
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2006
NoMedal    2
Name: Medal, dtype: int64
2008
NoMedal    1
Name: Medal, dtype: int64
2010
NoMedal    2
Name: Medal, dtype: int64
2014
NoMedal    1
Name: Medal, dtype: int64
2016
NoMedal    1
Name: Medal, dtype: int64
Azerbaijan
2000
NoMedal    29
Gold        2
Bronze      1
Name: Medal, dtype: int64
2002
NoMedal    3
Name: Medal, dtype: int64
2004
NoMedal    31
Bronze      4
Gold        1
Name: Medal, dtype: int64
2006
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    30
Bronze      4
Silver      2
Gold        1
Name: Medal, dtype: int64
2010
NoMedal    4
Name: Medal, dtype: int64
2012
NoMedal    47
Bronze      6
Silver      2
Gold        2
Name: Medal, dtype: int64
2014
NoMedal    3
Name: Medal, dtype: int64
2016
NoMedal    44
Bronze     10
Silver      7
Gold        1
Name: Medal, dtype: int64
2020
Bronze    4
Silver    3
Name: Medal, dtype: int64
Bahamas
2000
NoMedal    16
Gold        2
Bronze      1
Name: Medal, dtype: int64
2004
NoMedal    17
Bronze      1
Gold        1
Name: Medal, dtype: int64
2008
NoMedal    20
Silver      1
Bronze      1
Name: Medal, dtype: int64
2012
NoMedal    15
Gold        1
Name: Medal, dtype: int64
2016
NoMedal    18
Bronze      1
Gold        1
Name: Medal, dtype: int64
2020
Gold    2
Name: Medal, dtype: int64
Bahrain
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    10
Name: Medal, dtype: int64
2008
NoMedal    11
Name: Medal, dtype: int64
2012
NoMedal    11
Bronze      1
Name: Medal, dtype: int64
2016
NoMedal    20
Gold        1
Silver      1
Name: Medal, dtype: int64
2020
Silver    1
Name: Medal, dtype: int64
Bangladesh
2000
NoMedal    6
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    5
Name: Medal, dtype: int64
2012
NoMedal    7
Name: Medal, dtype: int64
2016
NoMedal    7
Name: Medal, dtype: int64
Barbados
2000
NoMedal    20
Bronze      1
Name: Medal, dtype: int64
2004
NoMedal    15
Name: Medal, dtype: int64
2008
NoMedal    10
Name: Medal, dtype: int64
2012
NoMedal    6
Name: Medal, dtype: int64
2016
NoMedal    11
Name: Medal, dtype: int64
Belarus
2000
NoMedal    99
Bronze     11
Gold        3
Silver      3
Name: Medal, dtype: int64
2002
NoMedal    38
Bronze      1
Name: Medal, dtype: int64
2004
NoMedal    111
Bronze       6
Silver       5
Gold         2
Name: Medal, dtype: int64
2006
NoMedal    27
Silver      1
Name: Medal, dtype: int64
2008
NoMedal    111
Bronze       9
Silver       5
Gold         4
Name: Medal, dtype: int64
2010
NoMedal    28
Silver      1
Bronze      1
Gold        1
Name: Medal, dtype: int64
2012
NoMedal    102
Silver       5
Bronze       5
Gold         2
Name: Medal, dtype: int64
2014
NoMedal    31
Gold        5
Bronze      1
Name: Medal, dtype: int64
2016
NoMedal    80
Silver      4
Bronze      4
Gold        1
Name: Medal, dtype: int64
2020
Bronze    3
Silver    3
Gold      1
Name: Medal, dtype: int64
Belarus-1
2008
NoMedal    1
Name: Medal, dtype: int64
Belarus-2
2008
NoMedal    1
Name: Medal, dtype: int64
Belgium
2000
NoMedal    60
Bronze      3
Silver      2
Name: Medal, dtype: int64
2002
NoMedal    7
Name: Medal, dtype: int64
2004
NoMedal    39
Bronze      2
Gold        1
Name: Medal, dtype: int64
2006
NoMedal    6
Name: Medal, dtype: int64
2008
NoMedal    53
Silver      1
Gold        1
Name: Medal, dtype: int64
2010
NoMedal    8
Name: Medal, dtype: int64
2012
NoMedal    68
Bronze      2
Silver      1
Name: Medal, dtype: int64
2014
NoMedal    10
Name: Medal, dtype: int64
2016
NoMedal    70
Gold        2
Bronze      2
Silver      2
Name: Medal, dtype: int64
2020
Bronze    3
Gold      3
Silver    1
Name: Medal, dtype: int64
Belize
2000
NoMedal    2
Name: Medal, dtype: int64
2004
NoMedal    2
Name: Medal, dtype: int64
2008
NoMedal    4
Name: Medal, dtype: int64
2012
NoMedal    3
Name: Medal, dtype: int64
2016
NoMedal    3
Name: Medal, dtype: int64
Benin
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    5
Name: Medal, dtype: int64
2012
NoMedal    5
Name: Medal, dtype: int64
2016
NoMedal    6
Name: Medal, dtype: int64
Bermuda
2000
NoMedal    6
Name: Medal, dtype: int64
2002
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    7
Name: Medal, dtype: int64
2006
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    6
Name: Medal, dtype: int64
2010
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    7
Name: Medal, dtype: int64
2014
NoMedal    1
Name: Medal, dtype: int64
2016
NoMedal    8
Name: Medal, dtype: int64
2020
Gold    1
Name: Medal, dtype: int64
Bhutan
2000
NoMedal    2
Name: Medal, dtype: int64
2004
NoMedal    2
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Bolivia
2000
NoMedal    5
Name: Medal, dtype: int64
2004
NoMedal    11
Name: Medal, dtype: int64
2008
NoMedal    7
Name: Medal, dtype: int64
2012
NoMedal    5
Name: Medal, dtype: int64
2016
NoMedal    10
Name: Medal, dtype: int64
Bonaparte
2008
Gold    1
Name: Medal, dtype: int64
Bosnia and Herzegovina
2000
NoMedal    10
Name: Medal, dtype: int64
2002
NoMedal    3
Name: Medal, dtype: int64
2004
NoMedal    11
Name: Medal, dtype: int64
2006
NoMedal    9
Name: Medal, dtype: int64
2008
NoMedal    7
Name: Medal, dtype: int64
2010
NoMedal    8
Name: Medal, dtype: int64
2012
NoMedal    8
Name: Medal, dtype: int64
2014
NoMedal    12
Name: Medal, dtype: int64
2016
NoMedal    8
Name: Medal, dtype: int64
Botswana
2000
NoMedal    5
Name: Medal, dtype: int64
2004
NoMedal    8
Name: Medal, dtype: int64
2008
NoMedal    11
Name: Medal, dtype: int64
2012
NoMedal    3
Silver     1
Name: Medal, dtype: int64
2016
NoMedal    7
Name: Medal, dtype: int64
2020
Bronze    1
Name: Medal, dtype: int64
Brazil
2000
NoMedal    85
Bronze      5
Silver      4
Name: Medal, dtype: int64
2002
NoMedal    6
Name: Medal, dtype: int64
2004
NoMedal    125
Gold         4
Bronze       3
Silver       1
Name: Medal, dtype: int64
2006
NoMedal    9
Name: Medal, dtype: int64
2008
NoMedal    131
Bronze       8
Gold         3
Silver       3
Name: Medal, dtype: int64
2010
NoMedal    7
Name: Medal, dtype: int64
2012
NoMedal    122
Bronze       8
Silver       4
Gold         3
Name: Medal, dtype: int64
2014
NoMedal    13
Name: Medal, dtype: int64
2016
NoMedal    208
Gold         6
Bronze       6
Silver       5
Name: Medal, dtype: int64
2020
Bronze    8
Gold      6
Silver    6
Name: Medal, dtype: int64
Brazil-1
2000
Silver    2
Name: Medal, dtype: int64
2004
Gold      1
Silver    1
Name: Medal, dtype: int64
2008
Silver     1
NoMedal    1
Name: Medal, dtype: int64
2012
Silver     1
Bronze     1
NoMedal    1
Name: Medal, dtype: int64
2016
Gold       1
Silver     1
NoMedal    1
Name: Medal, dtype: int64
Brazil-2
2000
NoMedal    1
Bronze     1
Name: Medal, dtype: int64
2004
NoMedal    2
Name: Medal, dtype: int64
2008
Bronze     1
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    3
Name: Medal, dtype: int64
2016
NoMedal    3
Name: Medal, dtype: int64
Brentina
2008
NoMedal    1
Name: Medal, dtype: int64
Briar
2008
NoMedal    1
Name: Medal, dtype: int64
British Virgin Islands
2000
NoMedal    1
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    2
Name: Medal, dtype: int64
2014
NoMedal    1
Name: Medal, dtype: int64
2016
NoMedal    4
Name: Medal, dtype: int64
Brunei
2000
NoMedal    2
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    3
Name: Medal, dtype: int64
2016
NoMedal    3
Name: Medal, dtype: int64
Bulgaria
2000
NoMedal    77
Silver      6
Gold        5
Bronze      2
Name: Medal, dtype: int64
2002
NoMedal    27
Bronze      2
Silver      1
Name: Medal, dtype: int64
2004
NoMedal    85
Bronze      9
Gold        2
Silver      1
Name: Medal, dtype: int64
2006
NoMedal    24
Silver      1
Name: Medal, dtype: int64
2008
NoMedal    55
Bronze      3
Gold        1
Silver      1
Name: Medal, dtype: int64
2010
NoMedal    26
Name: Medal, dtype: int64
2012
NoMedal    54
Bronze      1
Silver      1
Name: Medal, dtype: int64
2014
NoMedal    27
Name: Medal, dtype: int64
2016
NoMedal    48
Bronze      2
Silver      1
Name: Medal, dtype: int64
2020
Gold      3
Bronze    2
Silver    1
Name: Medal, dtype: int64
Burkina Faso
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    6
Name: Medal, dtype: int64
2012
NoMedal    5
Name: Medal, dtype: int64
2016
NoMedal    5
Name: Medal, dtype: int64
2020
Bronze    1
Name: Medal, dtype: int64
Burundi
2000
NoMedal    5
Name: Medal, dtype: int64
2004
NoMedal    5
Name: Medal, dtype: int64
2008
NoMedal    3
Name: Medal, dtype: int64
2012
NoMedal    6
Name: Medal, dtype: int64
2016
NoMedal    8
Silver     1
Name: Medal, dtype: int64
Calimucho
2008
NoMedal    1
Name: Medal, dtype: int64
Cambodia
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    4
Name: Medal, dtype: int64
2012
NoMedal    6
Name: Medal, dtype: int64
2016
NoMedal    6
Name: Medal, dtype: int64
Cameroon
2000
NoMedal    13
Gold        1
Name: Medal, dtype: int64
2002
NoMedal    2
Name: Medal, dtype: int64
2004
NoMedal    14
Gold        1
Name: Medal, dtype: int64
2008
NoMedal    15
Gold        1
Name: Medal, dtype: int64
2012
NoMedal    16
Name: Medal, dtype: int64
2016
NoMedal    13
Name: Medal, dtype: int64
Canada
2000
NoMedal    161
Bronze       8
Silver       3
Gold         3
Name: Medal, dtype: int64
2002
NoMedal    53
Bronze      7
Gold        6
Silver      3
Name: Medal, dtype: int64
2004
NoMedal    141
Silver       6
Bronze       3
Gold         3
Name: Medal, dtype: int64
2006
NoMedal    64
Silver      9
Gold        7
Bronze      7
Name: Medal, dtype: int64
2008
NoMedal    171
Silver       9
Bronze       7
Gold         3
Name: Medal, dtype: int64
2010
NoMedal    70
Gold       12
Silver      6
Bronze      4
Name: Medal, dtype: int64
2012
NoMedal    163
Bronze      12
Silver       5
Gold         1
Name: Medal, dtype: int64
2014
NoMedal    82
Gold        9
Silver      9
Bronze      5
Name: Medal, dtype: int64
2016
NoMedal    161
Bronze      15
Gold         4
Silver       3
Name: Medal, dtype: int64
2020
Bronze    11
Gold       7
Silver     6
Name: Medal, dtype: int64
Canada-1
2000
NoMedal    3
Name: Medal, dtype: int64
2002
NoMedal    3
Gold       1
Name: Medal, dtype: int64
2004
NoMedal    2
Name: Medal, dtype: int64
2006
NoMedal    5
Silver     1
Name: Medal, dtype: int64
2010
NoMedal    3
Gold       2
Bronze     1
Name: Medal, dtype: int64
2014
NoMedal    3
Gold       1
Silver     1
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Canada-2
2000
NoMedal    3
Name: Medal, dtype: int64
2002
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    2
Name: Medal, dtype: int64
2006
NoMedal    6
Name: Medal, dtype: int64
2010
NoMedal    5
Silver     1
Name: Medal, dtype: int64
2014
NoMedal    5
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Canada-3
2002
NoMedal    1
Name: Medal, dtype: int64
2014
NoMedal    4
Name: Medal, dtype: int64
Cape Verde
2000
NoMedal    2
Name: Medal, dtype: int64
2004
NoMedal    3
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    3
Name: Medal, dtype: int64
2016
NoMedal    5
Name: Medal, dtype: int64
Cayman Islands
2000
NoMedal    4
Name: Medal, dtype: int64
2004
NoMedal    8
Name: Medal, dtype: int64
2008
NoMedal    6
Name: Medal, dtype: int64
2010
NoMedal    1
Name: Medal, dtype: int64
2012
NoMedal    5
Name: Medal, dtype: int64
2014
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    5
Name: Medal, dtype: int64
Central African Republic
2000
NoMedal    3
Name: Medal, dtype: int64
2004
NoMedal    4
Name: Medal, dtype: int64
2008
NoMedal    3
Name: Medal, dtype: int64
2012
NoMedal    6
Name: Medal, dtype: int64
2016
NoMedal    6
Name: Medal, dtype: int64
Chad
2000
NoMedal    3
Name: Medal, dtype: int64
2004
NoMedal    1
Name: Medal, dtype: int64
2008
NoMedal    2
Name: Medal, dtype: int64
2012
NoMedal    2
Name: Medal, dtype: int64
2016
NoMedal    2
Name: Medal, dtype: int64
Chile
2000
NoMedal    27
Bronze      1
Name: Medal, dtype: int64
2002
NoMedal    8
Name: Medal, dtype: int64
2004
NoMedal    23
Gold        2
Bronze      1
Name: Medal, dtype: int64
2006
NoMedal    10
Name: Medal, dtype: int64
2008
NoMedal    26
Silver      1
Name: Medal, dtype: int64
2010
NoMedal    8
Name: Medal, dtype: int64
2012
NoMedal    36
Name: Medal, dtype: int64
2014
NoMedal    12
Name: Medal, dtype: int64
2016
NoMedal    36
Name: Medal, dtype: int64
China
2000
NoMedal    134
Gold        24
Silver      14
Bronze      13
Name: Medal, dtype: int64
2002
NoMedal    33
Bronze      3
Silver      2
Gold        2
Name: Medal, dtype: int64
2004
NoMedal    166
Gold        27
Silver      17
Bronze      13
Name: Medal, dtype: int64
2006
NoMedal    49
Bronze      4
Silver      3
Gold        2
Name: Medal, dtype: int64
2008
NoMedal    200
Gold        50
Bronze      24
Silver      19
Name: Medal, dtype: int64
2010
NoMedal    41
Bronze      4
Gold        4
Silver      1
Name: Medal, dtype: int64
2012
NoMedal    160
Gold        35
Silver      26
Bronze      23
Name: Medal, dtype: int64
2014
NoMedal    43
Silver      4
Gold        3
Bronze      2
Name: Medal, dtype: int64
2016
NoMedal    165
Gold        25
Bronze      25
Silver      18
Name: Medal, dtype: int64
China-1
2000
NoMedal    3
Bronze     1
Silver     1
Gold       1
Name: Medal, dtype: int64
2002
Bronze    1

In [105]:


print(since20000_data_teams.loc['Afghanistan', 2004])

                                                   Age  Height  Weight
Event                                    Medal
Athletics Men's 100 metres               NoMedal  19.0   168.0    64.0
Athletics Women's 100 metres             NoMedal  18.0   180.0    56.0
Boxing Men's Welterweight                NoMedal  19.0   170.0    69.0
Judo Women's Middleweight                NoMedal  18.0   165.0    70.0
Wrestling Men's Featherweight, Freestyle NoMedal  19.0     NaN     NaN