In [1]:
import numpy as np 
import pandas as pd

In [3]:
%load_ext ipython_memory_usage

Enabling IPython Memory Usage, use %imu_start to begin, %imu_stop to end

In [4]:
%imu_start

'IPython Memory Usage started'

In [4] used 3.3 MiB RAM in 1.43s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 65.0 MiB

### EDA de la dataFrame 'Athlete_events'

In [10]:
df_athlete=pd.read_csv('data/athlete_events.csv',sep=',')

df_athlete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [10] used 33.0 MiB RAM in 0.64s (system mean cpu 22%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 255.0 MiB

In [14]:
df_dictionnary=pd.read_csv('data/dictionary.csv')

df_dictionnary.rename(columns={'GDP per Capita':'PIB/habitant'})

             Country Code  Population  PIB/habitant
0        Afghanistan  AFG  32526562.0    594.323081
1            Albania  ALB   2889167.0   3945.217582
2            Algeria  ALG  39666519.0   4206.031232
3    American Samoa*  ASA     55538.0           NaN
4            Andorra  AND     70473.0           NaN
..               ...  ...         ...           ...
196          Vietnam  VIE  91703800.0   2111.138024
197  Virgin Islands*  ISV    103574.0           NaN
198            Yemen  YEM  26832215.0   1406.291651
199           Zambia  ZAM  16211767.0   1304.879014
200         Zimbabwe  ZIM  15602751.0    924.143819

[201 rows x 4 columns]

In [14] used 4.2 MiB RAM in 0.14s (system mean cpu 16%, single max cpu 29%), peaked 0.0 MiB above final usage, current RAM usage now 36.8 MiB

In [12]:
df_regions=pd.read_csv('data/noc_regions.csv')

df_regions

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [12] used -136.4 MiB RAM in 0.12s (system mean cpu 14%, single max cpu 27%), peaked 0.0 MiB above final usage, current RAM usage now 27.1 MiB