In [1]:
import numpy as np 
import pandas as pd

In [10]:
import matplotlib.pyplot as plt

In [10] used 27.3 MiB RAM in 0.87s (system mean cpu 20%, single max cpu 77%), peaked 0.0 MiB above final usage, current RAM usage now 50.7 MiB

In [2]:
%load_ext ipython_memory_usage

Enabling IPython Memory Usage, use %imu_start to begin, %imu_stop to end

In [3]:
%imu_start

'IPython Memory Usage started'

In [3] used 0.5 MiB RAM in 0.13s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 107.5 MiB

### EDA de la dataFrame 'Athlete_events'

In [4]:
df_athlete=pd.read_csv('data/athlete_events.csv',sep=',')

df_athlete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4] used 111.1 MiB RAM in 16.31s (system mean cpu 33%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 218.6 MiB

### DataFrame dictionnary

In [65]:
df_dictionnary=pd.read_csv('data/dictionary.csv')

df_dictionnary=df_dictionnary.rename(columns={'GDP per Capita':'PIB/habitant','Code':'NOC'})

In [65] used -132.7 MiB RAM in 0.12s (system mean cpu 15%, single max cpu 22%), peaked 0.0 MiB above final usage, current RAM usage now 29.6 MiB

In [48]:
df_dictionnary['Code'].nunique()

201

In [48] used -0.4 MiB RAM in 0.11s (system mean cpu 27%, single max cpu 51%), peaked 0.0 MiB above final usage, current RAM usage now 18.8 MiB

### On cherche les athlètes qui n'ont pas de team et ceux des îles TUVALU

In [22]:
df_athlete[df_athlete['NOC']=='UNK']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
61080,31292,Fritz Eccard,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN
130721,65813,A. Laffen,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN

In [22] used -0.9 MiB RAM in 0.18s (system mean cpu 28%, single max cpu 49%), peaked 0.0 MiB above final usage, current RAM usage now 28.0 MiB

Fritez Eccard a participé dans l'équipe Suédoise et A.Laffen .... aucunes traces je sais pas qui est ce mec

In [25]:
df_athlete[df_athlete['NOC']=='ROT'].nunique()

ID        10
Name      10
Sex        2
Age        7
Height     7
Weight     9
Team       1
NOC        1
Games      1
Year       1
Season     1
City       1
Sport      3
Event     12
Medal      0
dtype: int64

In [25] used -5.8 MiB RAM in 0.17s (system mean cpu 18%, single max cpu 29%), peaked 0.0 MiB above final usage, current RAM usage now 25.3 MiB

In [ ]:
12 participations parmi 10 athlètes qui ont participé aux JO ces dernières années sous la team des athlètes réfugiés.

In [45]:
df_athlete=df_athlete.query(" NOC !='ROC' and NOC != 'UNK' ")

In [45] used 82.3 MiB RAM in 0.31s (system mean cpu 30%, single max cpu 52%), peaked 0.0 MiB above final usage, current RAM usage now 103.9 MiB

## Base données région

In [51]:
df_regions=pd.read_csv('data/noc_regions.csv')

     NOC      Country                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [51] used -9.4 MiB RAM in 0.15s (system mean cpu 18%, single max cpu 28%), peaked 0.0 MiB above final usage, current RAM usage now 24.6 MiB

In [7]:
df_regions.nunique()

NOC       230
region    206
notes      21
dtype: int64

In [7] used 0.7 MiB RAM in 0.14s (system mean cpu 35%, single max cpu 67%), peaked 0.0 MiB above final usage, current RAM usage now 140.6 MiB

Il y a des régions qui ont le même NOC

In [ ]:
duplicates=[df_regions.duplicated(subset='region')]

In [16]:
df_regions[df_regions.duplicated(subset='region')]

     NOC          region                   notes
12   AUS       Australia                     NaN
54   CZE  Czech Republic                     NaN
76   GDR         Germany                     NaN
79   GER         Germany                     NaN
81   GRE          Greece                     NaN
88   HKG           China               Hong Kong
126  MAS        Malaysia                     NaN
143  NBO        Malaysia            North Borneo
147  NFL          Canada            Newfoundland
171  RUS          Russia                     NaN
173  SAA         Germany                     NaN
185  SRB          Serbia                     NaN
197  TCH  Czech Republic                     NaN
208  TUV             NaN                  Tuvalu
210  UAR           Syria    United Arab Republic
213  UNK             NaN                 Unknown
214  URS          Russia                     NaN
222  VNM         Vietnam                     NaN
223  WIF        Trinidad  West Indies Federation
225  YEM           Yemen                     NaN
226  YMD           Yemen             South Yemen
227  YUG          Serbia              Yugoslavia
229  ZIM        Zimbabwe                     NaN

In [16] used 0.8 MiB RAM in 0.14s (system mean cpu 13%, single max cpu 23%), peaked 0.0 MiB above final usage, current RAM usage now 26.2 MiB

In [8]:
df_regions.isnull().sum()

NOC         0
region      3
notes     209
dtype: int64

In [8] used -113.4 MiB RAM in 0.16s (system mean cpu 24%, single max cpu 44%), peaked 0.0 MiB above final usage, current RAM usage now 27.2 MiB

In [20]:
df_regions[df_regions['region'].isnull()]

     NOC region                 notes
168  ROT    NaN  Refugee Olympic Team
208  TUV    NaN                Tuvalu
213  UNK    NaN               Unknown

In [20] used -1.5 MiB RAM in 0.14s (system mean cpu 13%, single max cpu 22%), peaked 0.0 MiB above final usage, current RAM usage now 23.0 MiB

Il y a  3 des regions qui ne sont pas attribuées, ROT ( refugee olympic team)  , TUVALU ( 9 archipels qui constituent un État ) et UNK qui correspond à Unknown

### On ajoute les iles TUVALU

In [35]:
df_regions[df_regions['region'].isnull()]

     NOC region                 notes
168  ROT    NaN  Refugee Olympic Team
208  TUV    NaN                Tuvalu
213  UNK    NaN               Unknown

In [35] used 5.0 MiB RAM in 0.14s (system mean cpu 15%, single max cpu 23%), peaked 0.0 MiB above final usage, current RAM usage now 34.1 MiB

In [57]:
df_regions=df_regions.query(" NOC != 'ROT' and NOC != 'UNK' ")

df_regions.isnull().sum()

NOC         0
region      1
notes     209
dtype: int64

In [57] used 1.1 MiB RAM in 0.14s (system mean cpu 14%, single max cpu 23%), peaked 0.0 MiB above final usage, current RAM usage now 24.2 MiB

In [58]:
df_regions['region']=df_regions['region'].fillna('Tuvalu')

In [58] used -4.3 MiB RAM in 0.12s (system mean cpu 19%, single max cpu 33%), peaked 0.0 MiB above final usage, current RAM usage now 19.9 MiB

In [44]:
df_regions[df_regions['region']=='Tuvalu']

     NOC  region   notes
208  TUV  Tuvalu  Tuvalu

In [44] used -2.0 MiB RAM in 0.14s (system mean cpu 29%, single max cpu 54%), peaked 0.0 MiB above final usage, current RAM usage now 21.6 MiB

In [62]:
df_regions=df_regions.rename(columns={'region':'Country'})

In [62] used -124.1 MiB RAM in 0.11s (system mean cpu 13%, single max cpu 22%), peaked 0.0 MiB above final usage, current RAM usage now 20.2 MiB

In [59]:
df_regions.isnull().sum()

NOC         0
region      0
notes     209
dtype: int64

In [59] used 3.3 MiB RAM in 0.11s (system mean cpu 18%, single max cpu 27%), peaked 0.0 MiB above final usage, current RAM usage now 23.1 MiB

### On va merge les dataframes

In [69]:
df_complete=pd.merge(pd.merge(df_athlete,df_regions,on='NOC'),df_dictionnary,on='NOC')

df_complete=df_complete.drop('Country_x',axis=1)

In [69] used 27.8 MiB RAM in 0.42s (system mean cpu 30%, single max cpu 85%), peaked 0.0 MiB above final usage, current RAM usage now 230.9 MiB

In [71]:
df_complete=df_complete.rename(columns={'Country_y':'Country'})

df_complete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,notes,Country,Population,PIB/habitant
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,NaN,China,1.371220e+09,8027.683810
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,NaN,China,1.371220e+09,8027.683810
2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN,NaN,China,1.371220e+09,8027.683810
3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN,NaN,China,1.371220e+09,8027.683810
4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN,NaN,China,1.371220e+09,8027.683810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245225,120575,Mamorallo Tjoka,F,23.0,150.0,56.0,Lesotho,LES,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Marathon,NaN,NaN,Lesotho,2.135022e+06,1066.985626
245226,120575,Mamorallo Tjoka,F,27.0,150.0,56.0,Lesotho,LES,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Marathon,NaN,NaN,Lesotho,2.135022e+06,1066.985626
245227,122166,M'apotlaki Ts'elho,F,15.0,NaN,NaN,Lesotho,LES,1996 Summer,1996,Summer,Atlanta,Athletics,Athletics Women's 4 x 100 metres Relay,NaN,NaN,Lesotho,2.135022e+06,1066.985626
245228,122215,Lefa Tsapi,M,23.0,170.0,63.0,Lesotho,LES,1984 Summer,1984,Summer,Los Angeles,Boxing,Boxing Men's Welterweight,NaN,NaN,Lesotho,2.135022e+06,1066.985626
245229,122299,Mosolesa Tsie,M,20.0,175.0,75.0,Lesotho,LES,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Welterweight,NaN,NaN,Lesotho,2.135022e+06,1066.985626

In [71] used -62.9 MiB RAM in 0.33s (system mean cpu 28%, single max cpu 64%), peaked 0.0 MiB above final usage, current RAM usage now 167.6 MiB

### Analyse des valeurs manquantes sur la DF complète

In [72]:
df_complete.isnull().sum()

ID                   0
Name                 0
Sex                  0
Age               8731
Height           55117
Weight           57680
Team                 0
NOC                  0
Games                0
Year                 0
Season               0
City                 0
Sport                0
Event                0
Medal           211545
notes           243676
Country              0
Population        1280
PIB/habitant      9325
dtype: int64

In [72] used -99.8 MiB RAM in 0.25s (system mean cpu 34%, single max cpu 67%), peaked 0.0 MiB above final usage, current RAM usage now 67.9 MiB

Déjà on a pas de valeurs manquantes sur NOC et Country

In [73]:
df_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245230 entries, 0 to 245229
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            245230 non-null  int64
 1   Name          245230 non-null  object
 2   Sex           245230 non-null  object
 3   Age           236499 non-null  float64
 4   Height        190113 non-null  float64
 5   Weight        187550 non-null  float64
 6   Team          245230 non-null  object
 7   NOC           245230 non-null  object
 8   Games         245230 non-null  object
 9   Year          245230 non-null  int64
 10  Season        245230 non-null  object
 11  City          245230 non-null  object
 12  Sport         245230 non-null  object
 13  Event         245230 non-null  object
 14  Medal         33685 non-null   object
 15  notes         1554 non-null    object
 16  Country       245230 non-null  object
 17  Population    243950 non-null  float64
 18  PIB/habitant  235905 non-null  float64
dtypes: float64(5), int64(2), object(12)
memory usage: 35.5+ MB
In [73] used 8.9 MiB RAM in 0.30s (system mean cpu 19%, single max cpu 34%), peaked 0.0 MiB above final usage, current RAM usage now 76.7 MiB

In [75]:
df_complete=df_complete[df_complete['Year']>=2000]

In [75] used -4.2 MiB RAM in 0.18s (system mean cpu 15%, single max cpu 25%), peaked 0.0 MiB above final usage, current RAM usage now 81.8 MiB