In [44]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn.impute import KNNImputer

In [45]:
df_athlete=pd.read_csv('data/athlete_events.csv',sep=',')

df_athlete.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [46]:
df_athlete['Sex'].replace(['F','M'],['0', '1'],inplace=True)

In [47]:
df_athlete.isna().sum()

Name           0
Sex          159
Age         9633
Height     67360
Weight     74749
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport        159
Event       9492
Medal     240825
dtype: int64

### Transformation des données

In [48]:
df_athlete['Medal'].replace(['Gold','Silver','Bronze'],['5', '3','1'],inplace=True)

#transform the medal into numeric values
df_athlete['Medal'] = df_athlete.Medal.fillna('0')

In [49]:
#JO Hivers = 0; été = 1
df_athlete['Season'].replace(['Winter','Summer'],['0', '1'],inplace=True)

In [50]:
df_athlete = df_athlete.drop(df_athlete[df_athlete['Year'] < 2000].index)

In [51]:
df_athlete = df_athlete.drop(df_athlete[df_athlete['Season'] == '0'].index)

In [55]:
df_athlete = df_athlete.drop('Games', axis=1)
df_athlete = df_athlete.drop('Team', axis=1)

In [56]:
df_athlete.head()

,Name,Sex,Age,Height,Weight,NOC,Year,Season,City,Sport,Event,Medal
1,A Lamusi,1,23.0,170.0,60.0,CHN,2012,1,London,Judo,Judo Men's Extra-Lightweight,0
31,Jyri Tapani Aalto,1,31.0,172.0,70.0,FIN,2000,1,Sydney,Badminton,Badminton Men's Singles,0
33,Minna Maarit Aalto,0,34.0,159.0,55.5,FIN,2000,1,Sydney,Sailing,Sailing Women's Windsurfer,0
57,Timo Antero Aaltonen,1,31.0,189.0,130.0,FIN,2000,1,Sydney,Athletics,Athletics Men's Shot Put,0
79,Ragnhild Margrethe Aamodt,0,27.0,163.0,NaN,NOR,2008,1,Beijing,Handball,Handball Women's Handball,5

In [57]:
# create an object for KNNImputer
imputer = KNNImputer(n_neighbors=5)

# Fitting the data to the imputer object
imputer.fit(df_athlete[['Age']])

# Imputing the data     
df_athlete['Age'] = imputer.transform(df_athlete[['Age']])

In [59]:
sns.boxplot(y='Age', data=df_athlete)