In [1]:
import numpy as np 
import pandas as pd

In [2]:
import json 
from sklearn import preprocessing

In [3]:
import matplotlib.pyplot as plt

In [4]:
import math as m

In [5]:
%load_ext ipython_memory_usage

Enabling IPython Memory Usage, use %imu_start to begin, %imu_stop to end

In [6]:
%imu_start

'IPython Memory Usage started'

In [6] used 0.4 MiB RAM in 0.12s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 144.6 MiB

### EDA de la dataFrame 'Athlete_events'

In [7]:
df_athlete=pd.read_csv('data/athlete_events.csv',sep=',')

df_athlete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.00,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.00,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282985,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold
282986,ZUBIMENDI Martin,M,22.0,1.80,NaN,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver
282987,ZUEV Alexander,M,25.0,1.93,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,3x3 Basketball,Men,Silver
282988,ZVEREV Alexander,M,24.0,1.98,NaN,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold
282989,ZYKOVA Yulia,F,26.0,NaN,NaN,ROC,ROC,Tokyo 2020,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver

In [7] used 154.7 MiB RAM in 5.31s (system mean cpu 42%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 299.3 MiB

### DataFrame dictionnary

In [8]:
df_dictionnary=pd.read_csv('data/dictionary.csv')

df_dictionnary=df_dictionnary.rename(columns={'GDP per Capita':'PIB/habitant','Code':'NOC'})

df_dictionnary.isna().sum()

Country          0
NOC              0
Population       5
PIB/habitant    25
dtype: int64

In [8] used 0.2 MiB RAM in 1.01s (system mean cpu 41%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 299.5 MiB

### On cherche les athlÃ¨tes qui n'ont pas de team et ceux des Ã®les TUVALU

In [9]:
df_athlete[df_athlete['NOC']=='UNK']

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
61080,Fritz Eccard,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN
130721,A. Laffen,M,NaN,NaN,NaN,Unknown,UNK,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Architecture,NaN

In [9] used 2.4 MiB RAM in 0.17s (system mean cpu 45%, single max cpu 83%), peaked 0.0 MiB above final usage, current RAM usage now 301.9 MiB

Fritez Eccard a participÃ© dans l'Ã©quipe SuÃ©doise et A.Laffen .... aucunes traces je sais pas qui est ce mec

In [10]:
df_athlete[df_athlete['NOC']=='ROT'].nunique()

Name      10
Sex        2
Age        7
Height     7
Weight     9
Team       1
NOC        1
Games      1
Year       1
Season     1
City       1
Sport      3
Event     12
Medal      0
dtype: int64

In [10] used -2.0 MiB RAM in 0.15s (system mean cpu 38%, single max cpu 100%), peaked 2.1 MiB above final usage, current RAM usage now 299.9 MiB

12 participations parmi 10 athlÃ¨tes qui ont participÃ© aux JO ces derniÃ¨res annÃ©es sous la team des athlÃ¨tes rÃ©fugiÃ©s.

In [11]:
df_athlete=df_athlete.query(" NOC !='ROC' and NOC != 'UNK' ")

In [11] used -6.2 MiB RAM in 0.19s (system mean cpu 38%, single max cpu 100%), peaked 11.2 MiB above final usage, current RAM usage now 293.7 MiB

## Base donnÃ©es rÃ©gion

In [12]:
df_regions=pd.read_csv('data/noc_regions.csv')

df_regions=df_regions.rename(columns={'region':'Country'})
df_regions

     NOC      Country                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [12] used 0.1 MiB RAM in 0.90s (system mean cpu 42%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 293.8 MiB

In [13]:
df_regions.nunique()

NOC        230
Country    206
notes       21
dtype: int64

In [13] used 0.0 MiB RAM in 0.11s (system mean cpu 47%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 293.8 MiB

Il y a des rÃ©gions qui ont le mÃªme NOC

In [14]:
duplicates=[df_regions.duplicated(subset='Country')]

In [14] used -6.1 MiB RAM in 0.11s (system mean cpu 44%, single max cpu 100%), peaked 6.1 MiB above final usage, current RAM usage now 287.8 MiB

In [15]:
df_regions[df_regions.duplicated(subset='Country')]

     NOC         Country                   notes
12   AUS       Australia                     NaN
54   CZE  Czech Republic                     NaN
76   GDR         Germany                     NaN
79   GER         Germany                     NaN
81   GRE          Greece                     NaN
88   HKG           China               Hong Kong
126  MAS        Malaysia                     NaN
143  NBO        Malaysia            North Borneo
147  NFL          Canada            Newfoundland
171  RUS          Russia                     NaN
173  SAA         Germany                     NaN
185  SRB          Serbia                     NaN
197  TCH  Czech Republic                     NaN
208  TUV             NaN                  Tuvalu
210  UAR           Syria    United Arab Republic
213  UNK             NaN                 Unknown
214  URS          Russia                     NaN
222  VNM         Vietnam                     NaN
223  WIF        Trinidad  West Indies Federation
225  YEM           Yemen                     NaN
226  YMD           Yemen             South Yemen
227  YUG          Serbia              Yugoslavia
229  ZIM        Zimbabwe                     NaN

In [15] used 0.1 MiB RAM in 0.12s (system mean cpu 41%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 287.8 MiB

In [16]:
df_regions.isnull().sum()

NOC          0
Country      3
notes      209
dtype: int64

In [16] used -24.0 MiB RAM in 0.11s (system mean cpu 43%, single max cpu 100%), peaked 24.0 MiB above final usage, current RAM usage now 263.8 MiB

In [17]:
df_regions[df_regions['Country'].isnull()]

     NOC Country                 notes
168  ROT     NaN  Refugee Olympic Team
208  TUV     NaN                Tuvalu
213  UNK     NaN               Unknown

In [17] used -4.0 MiB RAM in 0.11s (system mean cpu 41%, single max cpu 100%), peaked 4.0 MiB above final usage, current RAM usage now 259.9 MiB

Il y a  3 des regions qui ne sont pas attribuÃ©es, ROT ( refugee olympic team)  , TUVALU ( 9 archipels qui constituent un Ã‰tat ) et UNK qui correspond Ã  Unknown

### On ajoute les iles TUVALU

In [18]:
df_regions[df_regions['Country'].isnull()]

     NOC Country                 notes
168  ROT     NaN  Refugee Olympic Team
208  TUV     NaN                Tuvalu
213  UNK     NaN               Unknown

In [18] used -2.3 MiB RAM in 0.11s (system mean cpu 55%, single max cpu 100%), peaked 2.3 MiB above final usage, current RAM usage now 257.5 MiB

In [19]:
df_regions=df_regions.query(" NOC != 'ROT' and NOC != 'UNK' ")

df_regions.isnull().sum()

NOC          0
Country      1
notes      209
dtype: int64

In [19] used -3.4 MiB RAM in 0.12s (system mean cpu 49%, single max cpu 100%), peaked 3.4 MiB above final usage, current RAM usage now 254.1 MiB

In [20]:
df_regions['Country']=df_regions['Country'].fillna('Tuvalu')

In [20] used -1.1 MiB RAM in 0.11s (system mean cpu 40%, single max cpu 100%), peaked 1.1 MiB above final usage, current RAM usage now 253.0 MiB

<ipython-input-20-0f7f308fe64b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_regions['Country']=df_regions['Country'].fillna('Tuvalu')

In [21]:
df_regions[df_regions['Country']=='Tuvalu']

     NOC Country   notes
208  TUV  Tuvalu  Tuvalu

In [21] used -2.1 MiB RAM in 0.12s (system mean cpu 37%, single max cpu 100%), peaked 2.1 MiB above final usage, current RAM usage now 251.0 MiB

In [22]:
df_regions.isnull().sum()

NOC          0
Country      0
notes      209
dtype: int64

In [22] used 0.0 MiB RAM in 0.11s (system mean cpu 33%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 251.0 MiB

# On va merge les dataframes

## Merge en left

In [23]:
df_complete=pd.merge(pd.merge(df_athlete,df_regions,on='NOC',how='left'),df_dictionnary,on='NOC',how='left')
#df_complete=df_complete.drop(labels='',axis=1)

df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country_x,notes,Country_y,Population,PIB/habitant
0,A Dijiang,M,24.0,180.00,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,China,1.371220e+09,8027.683810
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,China,1.371220e+09,8027.683810
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,Denmark,5.676002e+06,51989.293471
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,Denmark,5.676002e+06,51989.293471
4,Christine Jacoba Aaftink,F,21.0,185.00,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN,Netherlands,1.693652e+07,44299.768085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282622,ZOLOTIC Anastasija,F,19.0,1.80,NaN,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,USA,NaN,United States,3.214188e+08,56115.718426
282623,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,China,NaN,China,1.371220e+09,8027.683810
282624,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,China,NaN,China,1.371220e+09,8027.683810
282625,ZUBIMENDI Martin,M,22.0,1.80,NaN,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,Spain,NaN,Spain,4.641827e+07,25831.582305
282626,ZVEREV Alexander,M,24.0,1.98,NaN,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,Germany,NaN,Germany,8.141314e+07,41313.313995

In [23] used 72.6 MiB RAM in 0.26s (system mean cpu 29%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 323.6 MiB

In [24]:
df_complete=df_complete.query(" NOC !='ROC' ")

In [24] used -1.6 MiB RAM in 0.15s (system mean cpu 26%, single max cpu 100%), peaked 1.6 MiB above final usage, current RAM usage now 322.1 MiB

In [25]:
#df_complete.info()

In [25] used -0.0 MiB RAM in 0.11s (system mean cpu 30%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 322.0 MiB

282 627 lignes , c'est normal on a enlevÃ© les  rÃ©fugiÃ©s

In [26]:
df_complete.loc[(df_complete['Medal'].isna(),'Medal')]='Pas_medaille'

In [26] used -11.7 MiB RAM in 0.13s (system mean cpu 38%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 310.4 MiB

## Encoding test

In [27]:
dictio_score_medaille={'Pas_medaille':0,
                      'Bronze':1,
                      'Silver':2,
                      'Gold':3}

df_complete['Score_medaille']=df_complete['Medal'].map(dictio_score_medaille)

df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Country_x,notes,Country_y,Population,PIB/habitant,Score_medaille
0,A Dijiang,M,24.0,180.00,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,Pas_medaille,China,NaN,China,1.371220e+09,8027.683810,0
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Pas_medaille,China,NaN,China,1.371220e+09,8027.683810,0
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,Pas_medaille,Denmark,NaN,Denmark,5.676002e+06,51989.293471,0
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,Denmark,5.676002e+06,51989.293471,3
4,Christine Jacoba Aaftink,F,21.0,185.00,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,Pas_medaille,Netherlands,NaN,Netherlands,1.693652e+07,44299.768085,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282622,ZOLOTIC Anastasija,F,19.0,1.80,NaN,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,USA,NaN,United States,3.214188e+08,56115.718426,3
282623,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,China,NaN,China,1.371220e+09,8027.683810,1
282624,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,China,NaN,China,1.371220e+09,8027.683810,3
282625,ZUBIMENDI Martin,M,22.0,1.80,NaN,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,Spain,NaN,Spain,4.641827e+07,25831.582305,2
282626,ZVEREV Alexander,M,24.0,1.98,NaN,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,Germany,NaN,Germany,8.141314e+07,41313.313995,3

In [27] used -1.2 MiB RAM in 0.14s (system mean cpu 35%, single max cpu 100%), peaked 1.2 MiB above final usage, current RAM usage now 309.2 MiB

In [28]:
#Marche aussi 
''' 
medaille_categories=['Pas_medaille','Bronze','Silver','Gold']
encode_medaille=preprocessing.OrdinalEncoder(categories=[medaille_categories])

df_complete['enc_medal']=encode_medaille.fit_transform(df_complete[['Medal']])

df_complete
'''

" \nmedaille_categories=['Pas_medaille','Bronze','Silver','Gold']\nencode_medaille=preprocessing.OrdinalEncoder(categories=[medaille_categories])\n\ndf_complete['enc_medal']=encode_medaille.fit_transform(df_complete[['Medal']])\n\ndf_complete\n"

In [28] used 0.0 MiB RAM in 0.11s (system mean cpu 34%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 309.2 MiB

## Analyse valeurs nulles

In [29]:
df_complete.isna().sum()

Name                   0
Sex                  156
Age                 9628
Height             67142
Weight             74386
Team                   0
NOC                    0
Games                  0
Year                   0
Season                 0
City                   0
Sport                156
Event               9278
Medal                  0
Country_x            419
notes             277510
Country_y          26221
Population         27593
PIB/habitant       35919
Score_medaille         0
dtype: int64

In [29] used 2.5 MiB RAM in 0.25s (system mean cpu 18%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 311.7 MiB

156 sports oÃ¹ on sait pas ce que c'est .... et des country (26 221) qui ne sont pas attribuÃ©s non plus

Pour les Country , on va merge

In [30]:
#df_complete_test=df_complete.copy()

df_complete=pd.merge(df_complete,df_regions,on='NOC',how='left')

df_complete['Country']=df_complete['Country_y'].fillna(df_complete['Country_x'])

In [30] used 47.4 MiB RAM in 0.19s (system mean cpu 31%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 359.1 MiB

In [31]:
df_complete= df_complete.drop(['Country_x', 'Country_y'], axis=1)

In [31] used 38.2 MiB RAM in 0.16s (system mean cpu 28%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 397.2 MiB

In [32]:
liste_pays=df_regions['Country'].tolist()
liste_NOC=df_regions['NOC'].tolist()

dictio_NOC_pays=dict(zip(liste_NOC,liste_pays))

dictio_NOC_pays['SGP']='Singapour'
dictio_NOC_pays['LBN']='Liban'


df_complete['Country']=df_complete['Country'].fillna(df_complete['NOC'].map(dictio_NOC_pays))
#liste_region

#df_complete_test.isna().sum()

In [32] used -1.7 MiB RAM in 0.14s (system mean cpu 35%, single max cpu 100%), peaked 0.3 MiB above final usage, current RAM usage now 395.5 MiB

In [33]:
#test=df_complete_test[df_complete_test['Country'].isna()]

#test['Country']=test['Country'].fillna(test['NOC'].map(dictio_NOC_pays))

#test.groupby('NOC')['Name'].count().reset_index()

In [33] used 0.0 MiB RAM in 0.11s (system mean cpu 41%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 395.6 MiB

Il y a quatre NOC qui ne correspondent Ã  aucun pays dans notre EOR : rÃ©fugiÃ©s , ROT rÃ©fugiÃ©s aussi , LBN c'est le Liban (Lebanon en anglais )

In [34]:
df_complete=df_complete.query(" NOC !='ROT' and NOC !='EOR' ")

In [34] used -27.9 MiB RAM in 0.20s (system mean cpu 37%, single max cpu 100%), peaked 32.2 MiB above final usage, current RAM usage now 367.7 MiB

In [35]:
df_complete=df_complete.drop(['notes_x','notes_y'],axis=1)

In [35] used 13.0 MiB RAM in 0.15s (system mean cpu 34%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 380.7 MiB

## OpÃ©rations sur les sports

In [36]:
liste_sports=df_complete['Sport'].unique().tolist()

print(liste_sports)

['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating', 'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming', 'Badminton', 'Sailing', 'Biathlon', 'Gymnastics', 'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting', 'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh', 'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon', 'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Nordic Combined', 'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing', 'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon', 'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby', 'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo', 'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol', 'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota', 'Aeronautics', 'Cycling Road', 'Artistic Gymnastics', 'Karate', 'Trampoline Gymnastics', 'Canoe Slalom', 'Surfing', 'Canoe Sprint', nan, 'Equestrian', 'Artistic Swimming', 'Cycling Track', 'Skateboarding', 'Marathon Swimming', 'Cycling BMX Racing', 'Baseball/Softball', 'Cycling Mountain Bike', '3x3 Basketball', 'Cycling BMX Freestyle', 'Sport Climbing']
In [36] used -39.3 MiB RAM in 0.13s (system mean cpu 60%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 341.4 MiB

In [37]:
table_sport=df_complete.groupby('Sport')['Name'].count().reset_index()

table_sport

             Sport  Name
0   3x3 Basketball    56
1      Aeronautics     1
2    Alpine Skiing  8829
3         Alpinism    25
4          Archery  2461
..             ...   ...
79      Tug-Of-War   170
80      Volleyball  3666
81      Water Polo  4119
82   Weightlifting  4128
83       Wrestling  7425

[84 rows x 2 columns]

In [37] used -29.1 MiB RAM in 0.16s (system mean cpu 69%, single max cpu 100%), peaked 29.2 MiB above final usage, current RAM usage now 312.2 MiB

In [38]:
df_complete=df_complete[df_complete['Year']>=2000]

In [38] used -12.5 MiB RAM in 0.13s (system mean cpu 57%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 299.7 MiB

In [39]:
df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Pas_medaille,1.371220e+09,8027.683810,0,China
28,Antti Sami Aalto,M,26.0,186.00,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,Pas_medaille,5.482013e+06,42311.036231,0,Finland
31,Jyri Tapani Aalto,M,31.0,172.00,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Pas_medaille,5.482013e+06,42311.036231,0,Finland
33,Minna Maarit Aalto,F,34.0,159.00,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,Pas_medaille,5.482013e+06,42311.036231,0,Finland
40,Juhamatti Tapio Aaltonen,M,28.0,184.00,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,5.482013e+06,42311.036231,1,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282622,ZOLOTIC Anastasija,F,19.0,1.80,NaN,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,3.214188e+08,56115.718426,3,United States
282623,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,1.371220e+09,8027.683810,1,China
282624,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,1.371220e+09,8027.683810,3,China
282625,ZUBIMENDI Martin,M,22.0,1.80,NaN,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,4.641827e+07,25831.582305,2,Spain
282626,ZVEREV Alexander,M,24.0,1.98,NaN,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,8.141314e+07,41313.313995,3,Germany

In [39] used -2.5 MiB RAM in 0.13s (system mean cpu 56%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 297.3 MiB

## OpÃ©rations sur les Ages

In [40]:
table_sport_age=df_complete.groupby('Sport')['Age'].mean().apply(m.ceil).reset_index()

table_sport_age

                  Sport  Age
0        3x3 Basketball   30
1         Alpine Skiing   25
2               Archery   27
3   Artistic Gymnastics   25
4     Artistic Swimming   24
..                  ...  ...
64            Triathlon   29
65           Volleyball   27
66           Water Polo   27
67        Weightlifting   25
68            Wrestling   27

[69 rows x 2 columns]

In [40] used -4.7 MiB RAM in 0.13s (system mean cpu 45%, single max cpu 100%), peaked 0.1 MiB above final usage, current RAM usage now 292.5 MiB

In [41]:
liste_sport=table_sport_age['Sport'].tolist()
liste_age=table_sport_age['Age'].tolist()

dictio_age_sport=dict(zip(liste_sport,liste_age))

In [41] used -1.2 MiB RAM in 0.11s (system mean cpu 54%, single max cpu 100%), peaked 1.2 MiB above final usage, current RAM usage now 291.4 MiB

In [42]:
df_complete['Age']=df_complete['Age'].fillna(df_complete['Sport'].map(dictio_age_sport))

df_complete.isna().sum()

Name                  0
Sex                 156
Age                 156
Height             7658
Weight            12694
Team                  0
NOC                   0
Games                 0
Year                  0
Season                0
City                  0
Sport               156
Event              9249
Medal                 0
Population         2855
PIB/habitant       5741
Score_medaille        0
Country               0
dtype: int64

In [42] used 0.8 MiB RAM in 0.16s (system mean cpu 45%, single max cpu 100%), peaked 0.1 MiB above final usage, current RAM usage now 292.2 MiB

In [43]:
df_complete[df_complete['Age'].isna()].groupby('Medal')['Name'].count().reset_index()

          Medal  Name
0  Pas_medaille   156

In [43] used -2.7 MiB RAM in 0.11s (system mean cpu 75%, single max cpu 100%), peaked 2.7 MiB above final usage, current RAM usage now 289.5 MiB

In [44]:
#df_tokyo=pd.read_csv('data/athlete_events_tokyo_cleaned.csv')

#df_tokyo.isna().sum()

In [44] used -3.2 MiB RAM in 0.10s (system mean cpu 48%, single max cpu 100%), peaked 3.2 MiB above final usage, current RAM usage now 286.2 MiB

Enfaite il y a 156 personnes qui manquent prcq c'est les qu'on a pas les sport

In [45]:
df_complete=df_complete.dropna(subset='Age')

In [45] used 11.0 MiB RAM in 0.13s (system mean cpu 61%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 297.3 MiB

In [46]:
df_complete.isna().sum()

Name                  0
Sex                   0
Age                   0
Height             7502
Weight            12538
Team                  0
NOC                   0
Games                 0
Year                  0
Season                0
City                  0
Sport                 0
Event              9093
Medal                 0
Population         2846
PIB/habitant       5731
Score_medaille        0
Country               0
dtype: int64

In [46] used -1.2 MiB RAM in 0.15s (system mean cpu 64%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 296.1 MiB

## OpÃ©rations sur les poids et les tailles

In [47]:
df_complete.isna().sum()

Name                  0
Sex                   0
Age                   0
Height             7502
Weight            12538
Team                  0
NOC                   0
Games                 0
Year                  0
Season                0
City                  0
Sport                 0
Event              9093
Medal                 0
Population         2846
PIB/habitant       5731
Score_medaille        0
Country               0
dtype: int64

In [47] used -5.3 MiB RAM in 0.16s (system mean cpu 43%, single max cpu 100%), peaked 5.3 MiB above final usage, current RAM usage now 290.8 MiB

In [48]:
table_taille=df_complete[df_complete['Height'].isna()==False].groupby(['Sport'])['Height'].mean().apply(m.ceil).reset_index()

liste_sport=table_taille['Sport'].tolist()
#liste_sex=table_taille['Sex'].tolist()
liste_taille=table_taille['Height'].tolist()
print(table_taille)
liste_sport_sex=[]
for i in range(len(liste_sport)):
    liste_sport_sex.append((liste_sport[i],liste_taille[i]))
#print(liste_sport_sex)

dictio_sport_sex=dict(zip(liste_sport,liste_taille))

                  Sport  Height
0        3x3 Basketball       2
1         Alpine Skiing     176
2               Archery     174
3   Artistic Gymnastics       2
4     Artistic Swimming       2
..                  ...     ...
62            Triathlon     169
63           Volleyball     161
64           Water Polo     169
65        Weightlifting     159
66            Wrestling     171

[67 rows x 2 columns]
In [48] used -30.7 MiB RAM in 0.14s (system mean cpu 34%, single max cpu 100%), peaked 30.7 MiB above final usage, current RAM usage now 260.1 MiB

In [49]:
df_complete['Height'] = df_complete['Height'].fillna(df_complete['Sport'].map(dictio_sport_sex))


df_complete.isna().sum()

<ipython-input-49-30982cdfd39c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete['Height'] = df_complete['Height'].fillna(df_complete['Sport'].map(dictio_sport_sex))

Name                  0
Sex                   0
Age                   0
Height              159
Weight            12538
Team                  0
NOC                   0
Games                 0
Year                  0
Season                0
City                  0
Sport                 0
Event              9093
Medal                 0
Population         2846
PIB/habitant       5731
Score_medaille        0
Country               0
dtype: int64

In [49] used -24.5 MiB RAM in 0.16s (system mean cpu 50%, single max cpu 100%), peaked 24.5 MiB above final usage, current RAM usage now 235.6 MiB

In [50]:
#df_complete[df_complete['Height'].isna()]

In [50] used 0.0 MiB RAM in 0.10s (system mean cpu 42%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 235.7 MiB

In [51]:
table_poids=df_complete[df_complete['Weight'].isna()==False].groupby(['Sport'])['Weight'].mean().apply(m.ceil).reset_index()

liste_sport_2=table_poids['Sport'].tolist()
#liste_sex=table_taille['Sex'].tolist()
liste_poids=table_poids['Weight'].tolist()



dictio_sport_poids=dict(zip(liste_sport_2,liste_poids))

In [51] used -3.6 MiB RAM in 0.14s (system mean cpu 55%, single max cpu 100%), peaked 3.6 MiB above final usage, current RAM usage now 232.1 MiB

In [52]:
df_complete['Weight'] = df_complete['Weight'].fillna(df_complete['Sport'].map(dictio_sport_poids))


df_complete.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96574 entries, 1 to 282626
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            96574 non-null  object
 1   Sex             96574 non-null  object
 2   Age             96574 non-null  float64
 3   Height          96415 non-null  float64
 4   Weight          94584 non-null  float64
 5   Team            96574 non-null  object
 6   NOC             96574 non-null  object
 7   Games           96574 non-null  object
 8   Year            96574 non-null  int64
 9   Season          96574 non-null  object
 10  City            96574 non-null  object
 11  Sport           96574 non-null  object
 12  Event           87481 non-null  object
 13  Medal           96574 non-null  object
 14  Population      93728 non-null  float64
 15  PIB/habitant    90843 non-null  float64
 16  Score_medaille  96574 non-null  int64
 17  Country         96574 non-null  object
dtypes: float64(5), int64(2), object(11)
memory usage: 14.0+ MB
In [52] used -3.6 MiB RAM in 0.20s (system mean cpu 30%, single max cpu 100%), peaked 2.6 MiB above final usage, current RAM usage now 228.5 MiB

<ipython-input-52-f91662992dfc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_complete['Weight'] = df_complete['Weight'].fillna(df_complete['Sport'].map(dictio_sport_poids))

In [53]:
df_complete=df_complete[df_complete['Season']=='Summer']

df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Pas_medaille,1.371220e+09,8027.683810,0,China
31,Jyri Tapani Aalto,M,31.0,172.00,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Pas_medaille,5.482013e+06,42311.036231,0,Finland
33,Minna Maarit Aalto,F,34.0,159.00,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,Pas_medaille,5.482013e+06,42311.036231,0,Finland
57,Timo Antero Aaltonen,M,31.0,189.00,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,Pas_medaille,5.482013e+06,42311.036231,0,Finland
79,Ragnhild Margrethe Aamodt,F,27.0,163.00,82.0,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold,5.195921e+06,74400.369777,3,Norway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282622,ZOLOTIC Anastasija,F,19.0,1.80,69.0,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,3.214188e+08,56115.718426,3,United States
282623,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,1.371220e+09,8027.683810,1,China
282624,ZOU Jingyuan,M,23.0,1.58,NaN,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,1.371220e+09,8027.683810,3,China
282625,ZUBIMENDI Martin,M,22.0,1.80,70.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,4.641827e+07,25831.582305,2,Spain
282626,ZVEREV Alexander,M,24.0,1.98,72.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,8.141314e+07,41313.313995,3,Germany

In [53] used 0.8 MiB RAM in 0.15s (system mean cpu 22%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 229.3 MiB

## Moyenne par pays pour les sports qu'on ne connait pas

In [54]:
table_pays_1=df_complete[df_complete['Weight'].isna()==False].groupby(['Country'])['Weight'].mean().apply(m.ceil).reset_index()

liste_pays_1=table_pays_1['Country'].tolist()
#liste_sex=table_taille['Sex'].tolist()
liste_poids_1=table_pays_1['Weight'].tolist()



dictio_pays_poids_1=dict(zip(liste_pays_1,liste_poids_1))
df_complete['Weight'] = df_complete['Weight'].fillna(df_complete['Country'].map(dictio_pays_poids_1))

In [54] used 4.3 MiB RAM in 0.13s (system mean cpu 22%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 233.6 MiB

In [55]:
table_pays_2=df_complete[df_complete['Height'].isna()==False].groupby(['Country'])['Height'].mean().apply(m.ceil).reset_index()

liste_pays_2=table_pays_2['Country'].tolist()
#liste_sex=table_taille['Sex'].tolist()
liste_poids_2=table_pays_2['Height'].tolist()



dictio_pays_poids_2=dict(zip(liste_pays_2,liste_poids_2))
df_complete['Height'] = df_complete['Height'].fillna(df_complete['Country'].map(dictio_pays_poids_2))

#df_complete.isna().sum()

In [55] used 0.6 MiB RAM in 0.14s (system mean cpu 27%, single max cpu 100%), peaked 8.3 MiB above final usage, current RAM usage now 234.2 MiB

In [56]:
#df_complete.to_csv('data/df_merge_FLO.csv', index=False)

In [56] used 0.0 MiB RAM in 0.11s (system mean cpu 41%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 234.2 MiB

## Web Scrapping FLo

In [57]:
from bs4 import BeautifulSoup
import requests

In [57] used -48.3 MiB RAM in 1.04s (system mean cpu 11%, single max cpu 80%), peaked 44.1 MiB above final usage, current RAM usage now 185.9 MiB

In [58]:
url='https://www.topendsports.com/events/summer/hosts/list.htm'
response=requests.get(url)

In [58] used -4.1 MiB RAM in 1.19s (system mean cpu 36%, single max cpu 91%), peaked 8.8 MiB above final usage, current RAM usage now 181.8 MiB

In [59]:
url_2='https://en.wikipedia.org/wiki/List_of_Olympic_Games_host_cities'

In [59] used 0.0 MiB RAM in 0.10s (system mean cpu 46%, single max cpu 82%), peaked 0.0 MiB above final usage, current RAM usage now 181.8 MiB

In [60]:
response_2=requests.get(url_2)

In [60] used 1.1 MiB RAM in 0.24s (system mean cpu 40%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 183.0 MiB

In [61]:
soup_2=BeautifulSoup(response_2.text,'html.parser')

In [61] used 0.9 MiB RAM in 0.25s (system mean cpu 42%, single max cpu 86%), peaked 0.0 MiB above final usage, current RAM usage now 183.9 MiB

## On scrapp les pays organisateurs

In [62]:
L_pays=[]
L_annees=[]
elements=soup_2.findAll('span',class_='datasortkey')

for element in elements:
    pays=element.find('a').text
    L_pays.append(pays)

L_pays=L_pays[42:58]

In [62] used 0.0 MiB RAM in 0.12s (system mean cpu 36%, single max cpu 75%), peaked 0.0 MiB above final usage, current RAM usage now 183.9 MiB

In [63]:
L_annees_2=[2000 + i  for i in range(0,34,2)]
L_annees_2.pop(-2)

L_annees_2

[2000,
 2002,
 2004,
 2006,
 2008,
 2010,
 2012,
 2014,
 2016,
 2018,
 2020,
 2022,
 2024,
 2026,
 2028,
 2032]

In [63] used -11.7 MiB RAM in 0.11s (system mean cpu 30%, single max cpu 100%), peaked 11.7 MiB above final usage, current RAM usage now 172.2 MiB

In [64]:
L_pays_annee=[]
for i in range(len(L_pays)):
    L_pays_annee.append((L_pays[i],L_annees_2[i]))

df_hote=pd.DataFrame(L_pays_annee,columns=['Host_country','Year'])

df_hote

      Host_country  Year
0        Australia  2000
1    United States  2002
2           Greece  2004
3            Italy  2006
4            China  2008
5           Canada  2010
6   United Kingdom  2012
7           Russia  2014
8           Brazil  2016
9      South Korea  2018
10           Japan  2020
11           China  2022
12          France  2024
13           Italy  2026
14   United States  2028
15       Australia  2032

In [64] used 0.3 MiB RAM in 0.12s (system mean cpu 46%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 172.5 MiB

In [65]:
df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country
1,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Pas_medaille,1.371220e+09,8027.683810,0,China
31,Jyri Tapani Aalto,M,31.0,172.00,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Pas_medaille,5.482013e+06,42311.036231,0,Finland
33,Minna Maarit Aalto,F,34.0,159.00,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,Pas_medaille,5.482013e+06,42311.036231,0,Finland
57,Timo Antero Aaltonen,M,31.0,189.00,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,Pas_medaille,5.482013e+06,42311.036231,0,Finland
79,Ragnhild Margrethe Aamodt,F,27.0,163.00,82.0,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold,5.195921e+06,74400.369777,3,Norway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282622,ZOLOTIC Anastasija,F,19.0,1.80,69.0,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,3.214188e+08,56115.718426,3,United States
282623,ZOU Jingyuan,M,23.0,1.58,69.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,1.371220e+09,8027.683810,1,China
282624,ZOU Jingyuan,M,23.0,1.58,69.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,1.371220e+09,8027.683810,3,China
282625,ZUBIMENDI Martin,M,22.0,1.80,70.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,4.641827e+07,25831.582305,2,Spain
282626,ZVEREV Alexander,M,24.0,1.98,72.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,8.141314e+07,41313.313995,3,Germany

In [65] used 0.1 MiB RAM in 0.13s (system mean cpu 31%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 172.5 MiB

In [66]:
df_complete=pd.merge(df_complete,df_hote,on='Year',how='left')

df_complete

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country,Host_country
0,A Lamusi,M,23.0,170.00,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,Pas_medaille,1.371220e+09,8027.683810,0,China,United Kingdom
1,Jyri Tapani Aalto,M,31.0,172.00,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,Pas_medaille,5.482013e+06,42311.036231,0,Finland,Australia
2,Minna Maarit Aalto,F,34.0,159.00,55.5,Finland,FIN,2000 Summer,2000,Summer,Sydney,Sailing,Sailing Women's Windsurfer,Pas_medaille,5.482013e+06,42311.036231,0,Finland,Australia
3,Timo Antero Aaltonen,M,31.0,189.00,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,Pas_medaille,5.482013e+06,42311.036231,0,Finland,Australia
4,Ragnhild Margrethe Aamodt,F,27.0,163.00,82.0,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold,5.195921e+06,74400.369777,3,Norway,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78785,ZOLOTIC Anastasija,F,19.0,1.80,69.0,United States of America,USA,Tokyo 2020,2020,Summer,Tokyo,Taekwondo,Women -57kg,Gold,3.214188e+08,56115.718426,3,United States,Japan
78786,ZOU Jingyuan,M,23.0,1.58,69.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Team,Bronze,1.371220e+09,8027.683810,1,China,Japan
78787,ZOU Jingyuan,M,23.0,1.58,69.0,People's Republic of China,CHN,Tokyo 2020,2020,Summer,Tokyo,Artistic Gymnastics,Men's Parallel Bars,Gold,1.371220e+09,8027.683810,3,China,Japan
78788,ZUBIMENDI Martin,M,22.0,1.80,70.0,Spain,ESP,Tokyo 2020,2020,Summer,Tokyo,Football,Men,Silver,4.641827e+07,25831.582305,2,Spain,Japan
78789,ZVEREV Alexander,M,24.0,1.98,72.0,Germany,GER,Tokyo 2020,2020,Summer,Tokyo,Tennis,Men's Singles,Gold,8.141314e+07,41313.313995,3,Germany,Japan

In [66] used 3.4 MiB RAM in 0.14s (system mean cpu 35%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 176.0 MiB

In [67]:
compare_col=lambda x : 1 if x['Country']==x['Host_country'] else 0

In [67] used -0.1 MiB RAM in 0.11s (system mean cpu 30%, single max cpu 100%), peaked 0.1 MiB above final usage, current RAM usage now 175.9 MiB

In [68]:
df_complete['Participation_own_country']=df_complete.apply(compare_col,axis=1)

df_complete[df_complete['Participation_own_country']==1]

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country,Host_country,Participation_own_country
38,Giorgos Abalof,M,22.0,178.00,70.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Fencing,"Fencing Men's epee, Individual",Pas_medaille,10823732.0,18002.230578,0,Greece,Greece,1
40,Georgios Abaris,M,22.0,190.00,77.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Football,Football Men's Football,Pas_medaille,10823732.0,18002.230578,0,Greece,Greece,1
49,Georgia Abatzidou,F,35.0,155.00,43.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's Marathon,Pas_medaille,10823732.0,18002.230578,0,Greece,Greece,1
156,Ali Abdo,M,19.0,169.00,74.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Welterweight, Greco-Roman",Pas_medaille,23781169.0,56310.962993,0,Australia,Australia,1
268,Diana Monteiro Abla,F,21.0,175.00,75.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,Pas_medaille,207847528.0,8538.589975,0,Brazil,Brazil,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78724,YANAGITA Yuki,M,33.0,1.88,66.0,Japan,JPN,Tokyo 2020,2020,Summer,Tokyo,Baseball/Softball,Baseball,Gold,126958472.0,32477.215145,3,Japan,Japan,1
78741,YOSHIDA Masataka,M,28.0,1.73,66.0,Japan,JPN,Tokyo 2020,2020,Summer,Tokyo,Baseball/Softball,Baseball,Gold,126958472.0,32477.215145,3,Japan,Japan,1
78742,YOSHIDA Tsukasa,F,26.0,172.00,79.0,Japan,JPN,Tokyo 2020,2020,Summer,Tokyo,Judo,Women -57 kg,Bronze,126958472.0,32477.215145,1,Japan,Japan,1
78743,YOSHIDA Tsukasa,F,26.0,172.00,79.0,Japan,JPN,Tokyo 2020,2020,Summer,Tokyo,Judo,Mixed Team,Silver,126958472.0,32477.215145,2,Japan,Japan,1
78744,YOSOZUMI Sakura,F,19.0,2.00,66.0,Japan,JPN,Tokyo 2020,2020,Summer,Tokyo,Skateboarding,Women's Park,Gold,126958472.0,32477.215145,3,Japan,Japan,1

In [68] used 25.0 MiB RAM in 0.56s (system mean cpu 34%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 200.9 MiB

In [69]:
table_sports=df_complete.groupby('Sport')['Name'].count().reset_index()

table_sports

                    Sport   Name
0          3x3 Basketball     56
1                 Archery   1139
2     Artistic Gymnastics    191
3       Artistic Swimming    100
4               Athletics  13711
5               Badminton   1135
6                Baseball    574
7       Baseball/Softball    234
8              Basketball   1715
9        Beach Volleyball    570
10                 Boxing   1711
11           Canoe Slalom     80
12           Canoe Sprint    243
13               Canoeing   2177
14                Cycling   3192
15  Cycling BMX Freestyle     16
16     Cycling BMX Racing     42
17  Cycling Mountain Bike     74
18           Cycling Road    189
19          Cycling Track    224
20                 Diving   1114
21             Equestrian    232
22          Equestrianism   1711
23                Fencing   1937
24               Football   2807
25                   Golf    240
26             Gymnastics   5000
27               Handball   2034
28                 Hockey   2272
29                   Judo   2330
30                 Karate     79
31      Marathon Swimming     47
32      Modern Pentathlon    391
33    Rhythmic Gymnastics    543
34                 Rowing   3282
35           Rugby Sevens    598
36                Sailing   2301
37               Shooting   3190
38          Skateboarding     79
39               Softball    358
40         Sport Climbing     36
41                Surfing     40
42               Swimming   9124
43  Synchronized Swimming    586
44           Table Tennis   1425
45              Taekwondo    728
46                 Tennis   1508
47  Trampoline Gymnastics     28
48           Trampolining    152
49              Triathlon    637
50             Volleyball   1677
51             Water Polo   1530
52          Weightlifting   1446
53              Wrestling   1955

In [69] used -2.1 MiB RAM in 0.12s (system mean cpu 47%, single max cpu 100%), peaked 2.1 MiB above final usage, current RAM usage now 198.8 MiB

## Dictionnaire group sport

On va essayer de scrapper les sports individuels et les collectifs

In [70]:
url_sports='https://www.britannica.com/topic/list-of-sports-2038581#ref330452'

In [70] used -4.9 MiB RAM in 0.10s (system mean cpu 32%, single max cpu 100%), peaked 4.9 MiB above final usage, current RAM usage now 193.9 MiB

In [71]:
response_sp=requests.get(url_sports)

In [71] used -18.7 MiB RAM in 0.99s (system mean cpu 24%, single max cpu 100%), peaked 9.5 MiB above final usage, current RAM usage now 175.2 MiB

In [72]:
soup_sports=BeautifulSoup(response_sp.text,'html.parser')

In [72] used 21.9 MiB RAM in 0.24s (system mean cpu 24%, single max cpu 100%), peaked 0.0 MiB above final usage, current RAM usage now 197.1 MiB

In [73]:
sports=soup_sports.findAll('div')
L_sports_indiv=[]
for sport in sports:
    a=sport.find('a',class_='md-crosslink')
    if a is not None:
        L_sports_indiv.append(a.text)
   
    
L_sports_collec=[]

sports_co=soup_sports.findAll('section',id='ref330452')

for sport in sports_co:
    b=sport.find('a',class_='md-crosslink')
    print(b)
   
        
#sports

NameError: name 'L' is not defined

In [73] used -7.3 MiB RAM in 0.20s (system mean cpu 24%, single max cpu 100%), peaked 7.3 MiB above final usage, current RAM usage now 189.7 MiB

## Pays passÃ© communiste

In [74]:
url_soviet='https://en.wikipedia.org/wiki/Post-Soviet_states'

In [74] used -174.4 MiB RAM in 0.11s (system mean cpu 23%, single max cpu 38%), peaked 0.0 MiB above final usage, current RAM usage now 15.4 MiB

In [77]:
response_soviet=requests.get(url_soviet)

In [77] used 6.7 MiB RAM in 0.19s (system mean cpu 34%, single max cpu 56%), peaked 0.0 MiB above final usage, current RAM usage now 45.9 MiB

In [79]:
soup_soviet=BeautifulSoup(response_soviet.text,'html.parser')

In [79] used 14.3 MiB RAM in 0.35s (system mean cpu 44%, single max cpu 78%), peaked 0.0 MiB above final usage, current RAM usage now 60.5 MiB

In [104]:
L_pays_soviet=[]

pays_soviet=soup_soviet.findAll('b')
#print(pays_soviet)
for pays in pays_soviet:
    b=pays.find('a')
    if b is not None:
        L_pays_soviet.append(b.text)
L_pays_soviet=L_pays_soviet[:15]

L_pays_soviet

['Kazakhstan',
 'Kyrgyzstan',
 'Tajikistan',
 'Turkmenistan',
 'Uzbekistan',
 'Belarus',
 'Moldova',
 'Russia',
 'Ukraine',
 'Estonia',
 'Latvia',
 'Lithuania',
 'Armenia',
 'Azerbaijan',
 'Georgia']

In [104] used -0.0 MiB RAM in 0.13s (system mean cpu 32%, single max cpu 55%), peaked 0.0 MiB above final usage, current RAM usage now 27.4 MiB

In [108]:
complete_urss_regime=lambda x : 1 if x in L_pays_soviet else 0

In [108] used 0.9 MiB RAM in 0.10s (system mean cpu 0%, single max cpu 0%), peaked 0.0 MiB above final usage, current RAM usage now 43.0 MiB

In [110]:
df_complete['Soviet_past']=df_complete['Country'].apply(complete_urss_regime)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,...,Sport,Event,Medal,Population,PIB/habitant,Score_medaille,Country,Host_country,Participation_own_country,Soviet_past
13,Moonika Aava,F,24.0,168.00,65.0,Estonia,EST,2004 Summer,2004,Summer,...,Athletics,Athletics Women's Javelin Throw,Pas_medaille,1311998.0,17118.504200,0,Estonia,Greece,0,1
14,Moonika Aava,F,28.0,168.00,65.0,Estonia,EST,2008 Summer,2008,Summer,...,Athletics,Athletics Women's Javelin Throw,Pas_medaille,1311998.0,17118.504200,0,Estonia,China,0,1
25,Patimat Abakarova,F,21.0,165.00,49.0,Azerbaijan,AZE,2016 Summer,2016,Summer,...,Taekwondo,Taekwondo Women's Flyweight,Bronze,9651349.0,5496.344640,1,Azerbaijan,Brazil,0,1
26,Mariya Vasilyevna Abakumova (-Tarabina),F,22.0,179.00,80.0,Russia,RUS,2008 Summer,2008,Summer,...,Athletics,Athletics Women's Javelin Throw,Silver,144096812.0,9092.580536,2,Russia,China,0,1
27,Mariya Vasilyevna Abakumova (-Tarabina),F,26.0,179.00,80.0,Russia,RUS,2012 Summer,2012,Summer,...,Athletics,Athletics Women's Javelin Throw,Pas_medaille,144096812.0,9092.580536,0,Russia,United Kingdom,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78528,TUSHISHVILI Guram,M,26.0,172.00,79.0,Georgia,GEO,Tokyo 2020,2020,Summer,...,Judo,Men +100 kg,Silver,3679000.0,3795.973308,2,Georgia,Japan,0,1
78532,TYNYBEKOVA Aisuluu,F,28.0,171.00,77.0,Kyrgyzstan,KGZ,Tokyo 2020,2020,Summer,...,Wrestling,Women's Freestyle 62kg,Silver,5957000.0,1103.215352,2,Kyrgyzstan,Japan,0,1
78714,YAKHNO Yelyzaveta,F,23.0,1.75,70.0,Ukraine,UKR,Tokyo 2020,2020,Summer,...,Artistic Swimming,Team,Bronze,45198200.0,2114.954716,1,Ukraine,Japan,0,1
78761,ZARETSKA Iryna,F,25.0,168.00,71.0,Azerbaijan,AZE,Tokyo 2020,2020,Summer,...,Karate,Women's Kumite +61kg,Silver,9651349.0,5496.344640,2,Azerbaijan,Japan,0,1
78783,ZHUMANAZAROVA Meerim,F,22.0,171.00,77.0,Kyrgyzstan,KGZ,Tokyo 2020,2020,Summer,...,Wrestling,Women's Freestyle 68kg,Bronze,5957000.0,1103.215352,1,Kyrgyzstan,Japan,0,1

In [110] used -19.5 MiB RAM in 0.17s (system mean cpu 32%, single max cpu 57%), peaked 0.0 MiB above final usage, current RAM usage now 93.9 MiB

In [111]:
df_complete.isna().sum()

Name                            0
Sex                             0
Age                             0
Height                          0
Weight                          0
Team                            0
NOC                             0
Games                           0
Year                            0
Season                          0
City                            0
Sport                           0
Event                        9093
Medal                           0
Population                   2609
PIB/habitant                 5315
Score_medaille                  0
Country                         0
Host_country                    0
Participation_own_country       0
Soviet_past                     0
dtype: int64

In [111] used -47.0 MiB RAM in 0.17s (system mean cpu 34%, single max cpu 61%), peaked 0.0 MiB above final usage, current RAM usage now 46.9 MiB

In [113]:
df_pop_na=df_complete[df_complete['Population'].isna()]

#df_pop_na.groupby('Country')['Name'].count().reset_index()

                            Country  Name
0                      Cook Islands    33
1                           Eritrea    56
2       Individual Olympic Athletes    17
3                          Kiribati    14
4                            Kosovo    19
5                             Liban     6
6                  Marshall Islands    16
7                        Montenegro   124
8             Netherlands Antilles*    15
9   Palestine, Occupied Territories    25
10                          Romania   988
11                           Serbia   445
12                        Singapour   172
13                      South Sudan     5
14                           Taiwan   461
15                         Trinidad   204
16                           Tuvalu     9

In [113] used -1.3 MiB RAM in 0.13s (system mean cpu 30%, single max cpu 54%), peaked 0.0 MiB above final usage, current RAM usage now 44.3 MiB

## Scrap Population et GPA

In [132]:
import re

In [132] used -3.8 MiB RAM in 0.11s (system mean cpu 32%, single max cpu 56%), peaked 0.0 MiB above final usage, current RAM usage now 13.5 MiB

In [114]:
url_pop_gpa='https://www.worldometers.info/gdp/gdp-by-country/'

In [114] used -29.2 MiB RAM in 0.12s (system mean cpu 34%, single max cpu 62%), peaked 0.0 MiB above final usage, current RAM usage now 15.1 MiB

In [115]:
response_pop_gpa=requests.get(url_pop_gpa)

In [115] used 12.1 MiB RAM in 0.64s (system mean cpu 39%, single max cpu 89%), peaked 0.0 MiB above final usage, current RAM usage now 27.2 MiB

In [117]:
soup_pop_gpa=BeautifulSoup(response_pop_gpa.text,'html.parser')

In [117] used 6.3 MiB RAM in 0.18s (system mean cpu 40%, single max cpu 62%), peaked 0.0 MiB above final usage, current RAM usage now 45.0 MiB

In [125]:
L_pays=[]

all_countries=soup_pop_gpa.findAll('td')

for country in all_countries:
    a=country.find('a')
    if a is not None:
        L_pays.append(a.text)
len(L_pays)

177

In [125] used 1.0 MiB RAM in 0.13s (system mean cpu 42%, single max cpu 73%), peaked 0.0 MiB above final usage, current RAM usage now 21.8 MiB

In [ ]:
b=re.findall(r'\d+\,?\d*|\d+\.\d+', info.text)

In [158]:
all_info=soup_pop_gpa.findAll('td',attrs={'style':'font-weight: bold; text-align:right;'})
#print(all_info)
numbers=[]
for i,info in enumerate(all_info):
    b=re.findall(r'\d+\b', info.text)
    b=''.join(b)
    numbers.append(b)
   
 
    #b=[number.replace(',','.') for number in b]
print(len(numbers))
population=[]
for i in range(4,len(numbers),4):
    population.append(numbers[i])
population

['25', '462', '700', '000', '000']
['25', '463']
['2', '06']
['338', '289', '857']
['75', '269']
['25', '32']
['17', '963', '200', '000', '000']
['17', '963']
['2', '99']
['1', '425', '887', '337']
['12', '598']
['17', '86']
['4', '231', '140', '000', '000']
['4', '231']
['1', '03']
['123', '951', '692']
['34', '135']
['4', '21']
['4', '072', '190', '000', '000']
['4', '072']
['1', '79']
['83', '369', '843']
['48', '845']
['4', '05']
['3', '385', '090', '000', '000']
['3', '385']
['7', '00']
['1', '417', '173', '173']
['2', '389']
['3', '37']
['3', '070', '670', '000', '000']
['3', '071']
['4', '10']
['67', '508', '936']
['45', '485']
['3', '05']
['2', '782', '910', '000', '000']
['2', '783']
['2', '56']
['64', '626', '628']
['43', '061']
['2', '77']
['2', '240', '420', '000', '000']
['2', '240']
['2', '07']
['144', '713', '314']
['15', '482']
['2', '23']
['2', '139', '840', '000', '000']
['2', '140']
['3', '40']
['38', '454', '327']
['55', '646']
['2', '13']
['2', '010', '430', '000', '000']
['2', '010']
['3', '67']
['59', '037', '474']
['34', '053']
['2', '00']
['1', '920', '100', '000', '000']
['1', '920']
['2', '90']
['215', '313', '498']
['8', '918']
['1', '91']
['1', '675', '420', '000', '000']
['1', '675']
['3', '62']
['26', '177', '413']
['64', '003']
['1', '67']
['1', '665', '250', '000', '000']
['1', '665']
['2', '56']
['51', '815', '810']
['32', '138']
['1', '66']
['1', '414', '190', '000', '000']
['1', '414']
['3', '06']
['127', '504', '125']
['11', '091']
['1', '41']
['1', '397', '510', '000', '000']
['1', '398']
['5', '45']
['47', '558', '630']
['29', '385']
['1', '39']
['1', '319', '100', '000', '000']
['1', '319']
['5', '31']
['275', '501', '339']
['4', '788']
['1', '31']
['1', '108', '150', '000', '000']
['1', '108']
['8', '74']
['36', '408', '820']
['30', '436']
['1', '10']
['991', '115', '000', '000']
['991']
['4', '48']
['17', '564', '014']
['56', '429']
['0', '99']
['905', '988', '000', '000']
['906']
['5', '57']
['85', '341', '241']
['10', '616']
['0', '90']
['807', '706', '000', '000']
['808']
['2', '06']
['8', '740', '472']
['92', '410']
['0', '80']
['688', '177', '000', '000']
['688']
['4', '87']
['39', '857', '145']
['17', '266']
['0', '68']
['632', '770', '000', '000']
['633']
['5', '24']
['45', '510', '318']
['13', '904']
['0', '63']
['585', '939', '000', '000']
['586']
['2', '64']
['10', '549', '347']
['55', '543']
['0', '58']
['579', '267', '000', '000']
['579']
['3', '28']
['5', '434', '319']
['106', '594']
['0', '58']
['578', '604', '000', '000']
['579']
['3', '25']
['11', '655', '930']
['49', '640']
['0', '58']
['529', '245', '000', '000']
['529']
['11', '97']
['5', '023', '109']
['105', '362']
['0', '53']
['522', '033', '000', '000']
['522']
['6', '46']
['9', '038', '309']
['57', '758']
['0', '52']
['507', '535', '000', '000']
['508']
['7', '41']
['9', '441', '129']
['53', '758']
['0', '50']
['495', '341', '000', '000']
['495']
['2', '59']
['71', '697', '030']
['6', '909']
['0', '49']
['477', '386', '000', '000']
['477']
['3', '25']
['218', '541', '212']
['2', '184']
['0', '47']
['476', '748', '000', '000']
['477']
['6', '59']
['110', '990', '103']
['4', '295']
['0', '47']
['471', '400', '000', '000']
['471']
['5', '00']
['8', '939', '617']
['52', '732']
['0', '47']
['466', '789', '000', '000']
['467']
['3', '65']
['5', '975', '689']
['78', '115']
['0', '46']
['460', '201', '000', '000']
['460']
['7', '10']
['171', '186', '372']
['2', '688']
['0', '46']
['408', '802', '000', '000']
['409']
['8', '02']
['98', '186', '856']
['4', '164']
['0', '41']
['406', '306', '000', '000']
['406']
['8', '69']
['33', '938', '221']
['11', '972']
['0', '40']
['405', '870', '000', '000']
['406']
['2', '04']
['59', '893', '885']
['6', '776']
['0', '40']
['404', '284', '000', '000']
['404']
['7', '57']
['115', '559', '009']
['3', '499']
['0', '40']
['395', '404', '000', '000']
['395']
['3', '82']
['5', '882', '261']
['67', '220']
['0', '39']
['388', '544', '000', '000']
['389']
['2', '75']
['88', '550', '570']
['4', '388']
['0', '39']
['376', '533', '000', '000']
['377']
['6', '19']
['235', '824', '862']
['1', '597']
['0', '37']
['359', '839', '000', '000']
['360']
['3', '48']
['7', '488', '865']
['48', '050']
['0', '36']
['343', '939', '000', '000']
['344']
['7', '50']
['51', '874', '024']
['6', '630']
['0', '34']
['301', '262', '000', '000']
['301']
['4', '79']
['19', '659', '267']
['15', '324']
['0', '30']
['301', '025', '000', '000']
['301']
['2', '44']
['19', '603', '733']
['15', '355']
['0', '30']
['290', '924', '000', '000']
['291']
['2', '46']
['10', '493', '986']
['27', '723']
['0', '29']
['280', '826', '000', '000']
['281']
['2', '08']
['5', '540', '745']
['50', '684']
['0', '28']
['264', '182', '000', '000']
['264']
['7', '01']
['44', '496', '122']
['5', '937']
['0', '26']
['251', '945', '000', '000']
['252']
['6', '69']
['10', '270', '865']
['24', '530']
['0', '25']
['247', '234', '000', '000']
['247']
['2', '16']
['5', '185', '288']
['47', '680']
['0', '25']
['242', '632', '000', '000']
['243']
['2', '68']
['34', '049', '588']
['7', '126']
['0', '24']
['237', '296', '000', '000']
['237']
['4', '83']
['2', '695', '122']
['88', '046']
['0', '24']
['220', '623', '000', '000']
['221']
['3', '20']
['19', '397', '998']
['11', '373']
['0', '22']
['219', '066', '000', '000']
['219']
['5', '91']
['10', '384', '971']
['21', '095']
['0', '22']
['191', '913', '000', '000']
['192']
['3', '10']
['44', '903', '225']
['4', '274']
['0', '19']
['184', '558', '000', '000']
['185']
['8', '18']
['4', '268', '873']
['43', '233']
['0', '18']
['178', '789', '000', '000']
['179']
['4', '58']
['9', '967', '308']
['17', '938']
['0', '18']
['160', '503', '000', '000']
['161']
['29', '10']
['39', '701', '739']
['4', '043']
['0', '16']
['134', '182', '000', '000']
['134']
['1', '08']
['37', '457', '971']
['3', '582']
['0', '13']
['126', '783', '000', '000']
['127']
['5', '32']
['123', '379', '924']
['1', '028']
['0', '13']
['115', '469', '000', '000']
['115']
['1', '67']
['5', '643', '453']
['20', '461']
['0', '11']
['115', '049', '000', '000']
['115']
['2', '95']
['18', '001', '000']
['6', '391']
['0', '11']
['114', '667', '000', '000']
['115']
['4', '31']
['4', '576', '298']
['25', '057']
['0', '11']
['113', '642', '000', '000']
['114']
['4', '86']
['11', '228', '821']
['10', '121']
['0', '11']
['113', '420', '000', '000']
['113']
['4', '85']
['54', '027', '487']
['2', '099']
['0', '11']
['106', '714', '000', '000']
['107']
['3', '05']
['35', '588', '987']
['2', '999']
['0', '11']
['95', '003', '333', '381']
['95', '00']
['4', '12']
['17', '843', '908']
['5', '324']
['0', '09']
['89', '040', '398', '406']
['89', '04']
['3', '36']
['6', '781', '953']
['13', '129']
['0', '09']
['82', '274', '812', '251']
['82', '27']
['1', '55']
['647', '599']
['127', '046']
['0', '08']
['80', '391', '853', '885']
['80', '39']
['5', '67']
['34', '627', '652']
['2', '322']
['0', '08']
['78', '721', '058', '824']
['78', '72']
['4', '62']
['10', '358', '074']
['7', '600']
['0', '08']
['76', '522', '511', '781']
['76', '52']
['10', '81']
['4', '408', '581']
['17', '358']
['0', '08']
['75', '709', '289', '056']
['75', '71']
['4', '56']
['65', '497', '748']
['1', '156']
['0', '08']
['74', '403', '578', '363']
['74', '40']
['7', '82']
['21', '832', '143']
['3', '408']
['0', '07']
['72', '838', '798', '788']
['72', '84']
['3', '24']
['33', '475', '870']
['2', '176']
['0', '07']
['72', '793', '457', '588']
['72', '79']
['4', '70']
['9', '534', '954']
['7', '634']
['0', '07']
['71', '177', '146', '197']
['71', '18']
['4', '92']
['3', '422', '794']
['20', '795']
['0', '07']
['70', '964', '606', '465']
['70', '96']
['6', '33']
['4', '030', '358']
['17', '608']
['0', '07']
['70', '334', '299', '008']
['70', '33']
['1', '89']
['2', '750', '055']
['25', '576']
['0', '07']
['70', '018', '715', '017']
['70', '02']
['6', '74']
['28', '160', '542']
['2', '486']
['0', '07']
['68', '380', '838', '316']
['68', '38']
['4', '31']
['5', '180', '829']
['13', '199']
['0', '07']
['63', '501', '748', '652']
['63', '50']
['2', '25']
['7', '221', '365']
['8', '794']
['0', '06']
['62', '117', '768', '015']
['62', '12']
['5', '37']
['2', '119', '844']
['29', '303']
['0', '06']
['59', '364', '362', '541']
['59', '36']
['3', '00']
['54', '179', '306']
['1', '096']
['0', '06']
['58', '065', '953', '573']
['58', '07']
['8', '92']
['99', '010', '212']
['586']
['0', '06']
['51', '662', '241', '775']
['51', '66']
['0', '95']
['46', '874', '204']
['1', '102']
['0', '05']
['47', '451', '499', '859']
['47', '45']
['2', '50']
['11', '285', '869']
['4', '205']
['0', '05']
['46', '664', '948', '952']
['46', '66']
['2', '52']
['12', '356', '117']
['3', '777']
['0', '05']
['45', '752', '336', '036']
['45', '75']
['1', '24']
['6', '812', '341']
['6', '716']
['0', '05']
['45', '559', '202', '049']
['45', '56']
['4', '65']
['47', '249', '585']
['964']
['0', '05']
['44', '390', '820', '479']
['44', '39']
['4', '86']
['1', '472', '233']
['30', '152']
['0', '04']
['44', '341', '646', '509']
['44', '34']
['3', '54']
['27', '914', '536']
['1', '588']
['0', '04']
['43', '068', '885', '673']
['43', '07']
['3', '07']
['12', '224', '110']
['3', '523']
['0', '04']
['41', '722', '295', '362']
['41', '72']
['0', '08']
['6', '780', '744']
['6', '153']
['0', '04']
['41', '153', '912', '663']
['41', '15']
['1', '98']
['1', '850', '651']
['22', '238']
['0', '04']
['40', '828', '247', '302']
['40', '83']
['5', '61']
['30', '547', '580']
['1', '337']
['0', '04']
['38', '100', '812', '959']
['38', '10']
['1', '29']
['1', '326', '062']
['28', '732']
['0', '04']
['32', '488', '720', '000']
['32', '49']
['2', '60']
['6', '336', '392']
['5', '127']
['0', '03']
['31', '717', '700', '115']
['31', '72']
['4', '00']
['10', '432', '860']
['3', '040']
['0', '03']
['30', '633', '444', '295']
['30', '63']
['4', '60']
['10', '142', '619']
['3', '020']
['0', '03']
['29', '956', '769', '529']
['29', '96']
['5', '16']
['16', '767', '842']
['1', '787']
['0', '03']
['29', '784', '454', '056']
['29', '78']
['4', '74']
['20', '017', '675']
['1', '488']
['0', '03']
['28', '439', '052', '741']
['28', '44']
['5', '63']
['1', '251', '488']
['22', '724']
['0', '03']
['27', '899', '082', '337']
['27', '90']
['2', '48']
['1', '531', '044']
['18', '222']
['0', '03']
['27', '841', '648', '044']
['27', '84']
['6', '44']
['372', '899']
['74', '663']
['0', '03']
['27', '684', '430', '244']
['27', '68']
['4', '15']
['17', '316', '449']
['1', '599']
['0', '03']
['24', '605', '375', '420']
['24', '61']
['10', '11']
['3', '744', '385']
['6', '571']
['0', '02']
['24', '527', '507', '288']
['24', '53']
['3', '90']
['3', '233', '526']
['7', '585']
['0', '02']
['21', '979', '475', '561']
['21', '98']
['26', '76']
['695', '168']
['31', '618']
['0', '02']
['21', '227', '749', '389']
['21', '23']
['4', '70']
['13', '859', '341']
['1', '532']
['0', '02']
['21', '071', '739', '228']
['21', '07']
['3', '04']
['2', '388', '992']
['8', '820']
['0', '02']
['20', '678', '055', '598']
['20', '68']
['3', '40']
['16', '320', '537']
['1', '267']
['0', '02']
['20', '352', '322', '157']
['20', '35']
['5', '78']
['2', '630', '296']
['7', '738']
['0', '02']
['20', '253', '551', '885']
['20', '25']
['1', '68']
['11', '584', '996']
['1', '748']
['0', '02']
['19', '502', '783', '988']
['19', '50']
['12', '60']
['2', '780', '469']
['7', '014']
['0', '02']
['19', '111', '900', '000']
['19', '11']
['3', '93']
['5', '250', '072']
['3', '640']
['0', '02']
['18', '884', '619', '613']
['18', '88']
['1', '48']
['22', '673', '762']
['833']
['0', '02']
['18', '882', '095', '518']
['18', '88']
['4', '84']
['2', '842', '321']
['6', '643']
['0', '02']
['18', '827', '176', '532']
['18', '83']
['3', '69']
['22', '593', '590']
['833']
['0', '02']
['17', '851', '491', '428']
['17', '85']
['4', '15']
['32', '969', '518']
['541']
['0', '02']
['17', '765', '270', '015']
['17', '77']
['6', '85']
['533', '286']
['33', '313']
['0', '02']
['17', '401', '746', '309']
['17', '40']
['6', '25']
['13', '352', '864']
['1', '303']
['0', '02']
['17', '097', '760', '745']
['17', '10']
['4', '20']
['2', '827', '377']
['6', '047']
['0', '02']
['16', '810', '883', '361']
['16', '81']
['4', '85']
['3', '398', '366']
['4', '947']
['0', '02']
['16', '681', '531', '646']
['16', '68']
['1', '63']
['449', '002']
['37', '152']
['0', '02']
['15', '724', '383', '783']
['15', '72']
['2', '71']
['7', '529', '475']
['2', '088']
['0', '02']
['15', '671', '583', '878']
['15', '67']
['3', '75']
['6', '948', '392']
['2', '255']
['0', '02']
['15', '357', '537', '068']
['15', '36']
['57', '80']
['808', '726']
['18', '990']
['0', '02']
['14', '954', '967', '604']
['14', '95']
['3', '80']
['29', '611', '714']
['505']
['0', '01']
['14', '615', '532', '210']
['14', '62']
['1', '55']
['5', '970', '424']
['2', '448']
['0', '01']
['14', '420', '947', '884']
['14', '42']
['5', '95']
['3', '272', '996']
['4', '406']
['0', '01']
['13', '969', '605', '583']
['13', '97']
['11', '50']
['26', '207', '977']
['533']
['0', '01']
['13', '563', '132', '057']
['13', '56']
['2', '15']
['2', '093', '599']
['6', '478']
['0', '01']
['13', '312', '796', '765']
['13', '31']
['8', '16']
['13', '776', '698']
['966']
['0', '01']
['13', '164', '667', '627']
['13', '16']
['0', '92']
['20', '405', '317']
['645']
['0', '01']
['12', '898', '307', '089']
['12', '90']
['8', '69']
['1', '299', '469']
['9', '926']
['0', '01']
['12', '897', '400', '000']
['12', '90']
['14', '37']
['409', '984']
['31', '458']
['0', '01']
['12', '704', '149', '842']
['12', '70']
['2', '24']
['17', '723', '315']
['717']
['0', '01']
['12', '607', '436', '976']
['12', '61']
['4', '56']
['2', '567', '012']
['4', '911']
['0', '01']
['11', '813', '908', '448']
['11', '81']
['3', '15']
['1', '674', '908']
['7', '053']
['0', '01']
['10', '930', '644', '915']
['10', '93']
['7', '02']
['6', '630', '623']
['1', '649']
['0', '01']
['10', '492', '123', '388']
['10', '49']
['8', '00']
['9', '952', '787']
['1', '054']
['0', '01']
['10', '375', '460', '680']
['10', '38']
['5', '20']
['4', '736', '139']
['2', '191']
['0', '01']
['8', '126', '439', '481']
['8', '13']
['5', '81']
['8', '848', '699']
['918']
['0', '01']
['6', '189', '865', '408']
['6', '19']
['12', '30']
['523', '787']
['11', '818']
['0', '01']
['6', '095', '978', '868']
['6', '10']
['6', '09']
['627', '082']
['9', '721']
['0', '01']
['5', '637', '914', '515']
['5', '64']
['10', '00']
['281', '635']
['20', '019']
['0', '01']
['4', '943', '248', '200']
['4', '94']
['16', '12']
['929', '766']
['5', '317']
['0', '00']
['4', '854', '167', '638']
['4', '85']
['3', '91']
['1', '201', '670']
['4', '040']
['0', '00']
['4', '001', '047', '150']
['4', '00']
['4', '81']
['5', '302', '681']
['755']
['0', '00']
['3', '970', '343', '852']
['3', '97']
['3', '50']
['8', '605', '718']
['461']
['0', '00']
['3', '620', '655', '116']
['3', '62']
['1', '89']
['618', '040']
['5', '858']
['0', '00']
['3', '352', '032', '737']
['3', '35']
['8', '81']
['79', '824']
['41', '993']
['0', '00']
['3', '163', '324', '631']
['3', '16']
['17', '49']
['1', '341', '296']
['2', '358']
['0', '00']
['3', '073', '414', '678']
['3', '07']
['1', '85']
['12', '889', '576']
['238']
['0', '00']
['2', '824', '081', '836']
['2', '82']
['12', '13']
['405', '272']
['6', '968']
['0', '00']
['2', '553', '459', '763']
['2', '55']
['0', '59']
['2', '305', '825']
['1', '107']
['0', '00']
['2', '382', '618', '615']
['2', '38']
['0', '00']
['5', '579', '144']
['427']
['0', '00']
['2', '314', '816', '792']
['2', '31']
['17', '71']
['593', '149']
['3', '903']
['0', '00']
['2', '273', '060', '863']
['2', '27']
['4', '92']
['2', '705', '992']
['840']
['0', '00']
['2', '065', '027', '556']
['2', '07']
['15', '40']
['179', '857']
['11', '481']
['0', '00']
['1', '757', '603', '704']
['1', '76']
['8', '46']
['93', '763']
['18', '745']
['0', '00']
['1', '633', '559', '092']
['1', '63']
['3', '50']
['2', '105', '566']
['776']
['0', '00']
['1', '595', '710', '784']
['1', '60']
['4', '06']
['724', '273']
['2', '203']
['0', '00']
['1', '588', '406', '479']
['1', '59']
['8', '80']
['107', '118']
['14', '829']
['0', '00']
['1', '256', '413', '185']
['1', '26']
['5', '80']
['125', '438']
['10', '016']
['0', '00']
['1', '242', '519', '407']
['1', '24']
['2', '39']
['836', '774']
['1', '485']
['0', '00']
['983', '582', '865']
['984']
['1', '85']
['326', '740']
['3', '010']
['0', '00']
['961', '563', '259']
['962']
['9', '00']
['47', '657']
['20', '177']
['0', '00']
['948', '558', '503']
['949']
['4', '95']
['103', '948']
['9', '125']
['0', '00']
['832', '421', '565']
['832']
['6', '02']
['222', '382']
['3', '743']
['0', '00']
['612', '048', '148']
['612']
['5', '94']
['72', '737']
['8', '415']
['0', '00']
['546', '680', '342']
['547']
['0', '93']
['227', '380']
['2', '404']
['0', '00']
['427', '094', '119']
['427']
['0', '62']
['539', '013']
['792']
['0', '00']
['279', '667', '900']
['280']
['1', '50']
['41', '569']
['6', '728']
['0', '00']
['223', '352', '943']
['223']
['1', '56']
['131', '232']
['1', '702']
['0', '00']
['60', '349', '391']
['60']
['0', '68']
['11', '312']
['5', '335']
['0', '00']
In [158] used 0.1 MiB RAM in 0.16s (system mean cpu 36%, single max cpu 66%), peaked 0.0 MiB above final usage, current RAM usage now 18.1 MiB